html{
	background-color: #f7f8fa;
	font-family: Arial, Helvetica, sans-serif !important;
	overflow-x: hidden;
}

body{
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

//Head components
.rm-logo{
	color: $link-select;
	text-transform: uppercase;
}

.rm-logo:hover{
	color:  #000000!important;
}

.rm-navbar{
	background-color: white !important;
}

.rm-navbar-link{
	color: #4a4a4a !important;
	border-bottom: 1px solid #fff !important;
	font-family: Arial, Helvetica, sans-serif !important;
	text-transform: none !important;
}

.rm-navbar-link:hover{
	color: $link-select !important;
	border-bottom: 1px solid !important;
}

.rm-search-input{
	background-color: #f7f8fa;
	border: 1px solid #e5e5e529;
}

.rm-mobile-toggle:hover{
	color: $link-select !important;
}

.rm-mobile-menu{
	background-color: #f7f8fa;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
}

.rm-mobile-menu-item:hover{
	color: $link-select !important;
}

.rm-close-btn:hover{
	color: $link-select !important;
}

.rm-nv-search-button{
	cursor: pointer !important;
}


//content
.rm-content{
	width: 100%;
	height: calc(100vh - 100px);
	height: calc( (var(--vh, 1vh) * 100) - 100px);
	background-color: #f7f8fa;
}

.rm-content-background{
	background-color: #fff !important;
}

.rm-content-height{
	max-height: calc(100vh - 150px);
	max-height: calc( (var(--vh, 1vh) * 100) - 150px);
	padding-bottom: 10px;
	overflow-y: scroll;
}

.rm-content-height::-webkit-scrollbar {
	display: none;
}

.rm-content-height {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.rm-out-header{
	color: #4a4a4a !important;
}

.rm-badge-color{
	background-color: $link-select;
}

.rm-content-header{
	color: #4a4a4a !important;
}

.rm-content-header:hover{
	text-decoration: none;
	color: $link-select !important;
}

//loading effect
$bg: #171f30;
$c-01: #fff;
$c-02: $link-select;

.loading-content {
	width: 100%;
    padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

   .loading {
		width: 80px;
		height: 50px;
		position: relative;

    	span {
	        background-color: inherit;
	        border-radius: 50px;
	        display: block;
	        height: 16px;
	        width: 16px;
	        bottom: 0;
	        position: absolute;
	        transform: translateX(64px);
	        animation: loading 3.5s ease both infinite;

			&:before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				background-color: $c-02;
				border-radius: inherit;
				animation: loading2 3.5s ease both infinite;
			}

			@keyframes loading {
	            0% {
	               width: 16px;
	               transform: translateX(0px);
	            }

	            40% {
	               width: 100%;
	               transform: translateX(0px);
	            }

	            80% {
	               width: 16px;
	               transform: translateX(64px);
	            } 

	            90% {
	               width: 100%;
	               transform: translateX(0px);
	            }

	            100% {
	               width: 16px;
	               transform: translateX(0px);
	            }
         	}
			@keyframes loading2 {
	            0% {
	               transform: translateX(0px);
	               width: 16px;
	            }

	            40% {
	               transform: translateX(0%);
	               width: 80%;
	            }

	           80% {
	               width: 100%;
	               transform: translateX(0px);
	            }

	            90% {
	               width: 80%;
	            transform: translateX(15px);
	            }
	            100% {
	               transform: translateX(0px);
	               width: 16px;
	            }
	        }
		}
	}
}

//left content

.rm-category-url{
	color: #6f6f6f !important;
}

.rm-category-url:hover{
	color: $link-select !important;
	text-decoration: none;
}

.rm-slected-type{
	color: $link-select !important;
}

.rm-slected-type:hover{
	color: #6f6f6f !important;
}

//Mixed

.rm-view-height{
	max-height: calc(100vh - 110px);
	max-height: calc( (var(--vh, 1vh) * 100) - 110px);
	padding-bottom: 10px;
	overflow-y: scroll;
}

.rm-view-height::-webkit-scrollbar {
	display: none !important;
}

.rm-view-height {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.rm-topic-badge{
	text-decoration: none !important;
	background-color: $link-select;
}

.rm-topic-badge:hover{
	text-decoration: none !important;
	background-color: #6f6f6f !important;
}

.rm-query{
	color: $link-select !important;
}

.rm-border-top-rounded{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

//mobile navbar

.rm-mobile-navbar{
	background-color: white !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	margin: 0 !important;
	z-index: 999;
}

.rm-side-scroll{
	max-height: calc(100vh - 170px);
	max-height: calc( (var(--vh, 1vh) * 100) - 170px);
	padding-bottom: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.rm-side-scroll::-webkit-scrollbar {
	display: none !important;
}

.rm-side-scroll {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.rm-statistic{
	background-color: #fff; 
	padding-bottom: 10px;
	min-height: 270px; 
	max-width: 300px;
	border-radius: 10px;
}

.rm-stats-link{
	text-decoration: none !important;
	padding-left: 10px;
	padding-top: 10px;
}

.rm-stats-link:hover h4{
	color: $link-select !important;
}

.rm-content-img{
	min-height: 300px !important; 
	max-height: 350px !important;
	width: 100%; 
	object-fit: cover;
}

.rm-content-img-small{
	width: 220px;
	float: left;
	margin-right: 10px;
	object-fit: cover;
	min-height: 124px;
}

.rm-border-left-rounded{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.rm-content-time-small{
	font-size: 0.8rem;
	line-height: 1;
	color: #ccc;
}

.rm-content-small-bottom{
	position: absolute;
	bottom: 0;
}

.rm-view-img{
	min-height: 350px !important; 
	max-height: 400px !important;
	width: 100%; 
	object-fit: cover;
}

.rm-view-images{
	max-width: 300px; 
	object-fit: cover;	
}

.rm-middle-padding{
	padding-left: 20px;
	padding-right: 20px;
}

.rm-padding-55{
	padding-left: 55px;
}

.rm-right-list{
    padding-left: 5px;
    padding-right: 5px;
    list-style: none;
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 0;
}

.rm-right-list li{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.rm-right-article{
	padding-top: 5px;
	padding-bottom: 5px;
}

.rm-list-head{
	font-size: 15px;
    line-height: 1.3333;
    margin-bottom: 0;
}

.rm-right-list-url{
	text-decoration: none;
}

.rm-right-list-url:hover{
	color: $link-select;
}

.rm-link-hover:hover{
	color: $link-select !important;
}

.rm-open-item{
	display: block !important;
}

.rm-to-top{
	cursor: pointer;
	display: none;
}

.rm-to-top:hover{
	color: $link-select !important;
}

@media only screen and (max-width: 960px)  {

	.rm-content-height{
		max-height: calc(100vh - 110px);
		max-height: calc( (var(--vh, 1vh) * 100) - 110px);
		padding-bottom: 10px;
		overflow-y: scroll;
	}

	.rm-view-height{
		max-height: calc(100vh - 65px);
		max-height: calc( (var(--vh, 1vh) * 100) - 65px);
		padding-bottom: 10px;
		overflow-y: scroll;
	}

	.rm-side-scroll{
		max-height: calc(100vh - 125px);
		max-height: calc( (var(--vh, 1vh) * 100) - 125px);
		padding-bottom: 10px;
		overflow-y: scroll;
	}

	.rm-mobile-nav-item{
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		min-height: 60px;
	}

	.rm-content-img{
		min-height: 200px !important; 
		max-height: 250px !important;
		width: 100%; 
		object-fit: cover;
	}

	.rm-padding-55{
		padding-left: 30px;
	}

	.rm-middle-padding{
		padding-left: 5px;
		padding-right: 5px;
	}

	.rm-mobile-nav-item:hover{
		color: $link-select;
	}

	.rm-nav-item-dropped{
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
		height: calc(100vh - 75px);
		max-height: calc( (var(--vh, 1vh) * 100) - 75px);
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		padding: 0;
		padding-top: 10px;
		margin: 0;
		z-index: 999;
		background: white;
	}

	.rm-nav-item-search{
		display: none;
		height: 60px;
		width: calc(100% - 20px);
		max-height: calc( (var(--vh, 1vh) * 100) - 20px);
		position: absolute;
		left: 0;
		bottom: 65px;
		padding: 10px 10px 0 10px;
		margin: 0;
		z-index: 999;
		background: white;
	}
}