
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Dark mode
$darkmode-bgcolor: #222;
$darkmode-loading-darkcolor: #3d3d3d;
$darkmode-loading-darkcolor-darker: #2e2e2e;
$darkmode-black: #222;
$darkmode-border: #333;
$darkmode-white: #fff;
$darkmode-muted: rgba(255, 255, 255, 0.7);
$color-blue: #1e87f0;
$color-black: #222;
$rm-color-white: #fff;

//new design

$link-select: #f33;