
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//
//
//
//rengler
//https://color.adobe.com/ru/Fastfood-profesional-color-theme-4686183/?showPublished=true

@font-face {
    font-family: 'Roboto';
    src: url('Roboto.ttf') format('truetype');
}



//UIkit
$global-link-color: #000;

@import '~uikit/src/scss/variables-theme';
@import '~uikit/src/scss/mixins-theme';

@mixin hook-card() { color: #000; }

@import '~uikit/src/scss/uikit-theme.scss';


//Homepage style
@import "home-page";