<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="tv-schedules.edit"></action-panel-layout>
      <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <td>{{$t('tv-schedules.hour_start')}} *</td>
              <td>{{$t('tv-schedules.hour_end')}} *</td>
              <td>{{$t('tv-schedules.description')}} *</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in items">
              <td>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes(index + '.hour_start'), 'uk-input': true, 'uk-border-rounded': true}" type="time" v-model="row.hour_start" placeholder="12:00">
                </div>
              </td>
              <td>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes(index + '.hour_end'), 'uk-input': true, 'uk-border-rounded': true}" type="time" v-model="row.hour_end" placeholder="14:30">
                </div>
              </td>
              <td>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes(index + '.description'), 'uk-input': true, 'uk-border-rounded': true}" type="text" v-model="row.description" placeholder="Avengers">
                </div>
              </td>
              <td>
                <button class="uk-button uk-button-danger" @click="removeElement(index);">
                  {{$t('main.remove')}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="uk-card uk-card-default uk-margin-medium-top  uk-border-rounded uk-card-body">
        <div class="uk-navbar-right">
          <button class="uk-button uk-button-primary uk-border-rounded" @click="addRow">{{$t('tv-schedules.add')}}</button>
        </div>
      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'permission-edit',
  mounted(){
    this.loadData()
    var vm = this
  },
  methods: {
    loadData(){
      this.apiGet('get/tvschedule/' + this.$route.params.day + '/' + this.$route.params.lang).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        } else {
          this.items = response.body.item.data
          this.empty_data = false
        }
      }).catch((errors) => {
        console.log(errors)
      })
    },
    saveChanges(){
      var vm = this
      this.form_data.data = this.items
      this.form_data.day = this.$route.params.day
      this.form_data.language = this.$route.params.lang
      this.apiPost('update/tv-schedule', this.form_data).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.error_keys = []
          vm.errors = []
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    },
    removeElement(index){
      this.items.splice(index, 1);
    },
    addRow: function() {
      this.items.push({
          hour_start: '',
          hour_end: '',
          description: ''
      });
    },
  },
  data () {
    return {
      form_data: {},
      items: {},
      empty_data: true,
      errors: [],
      error_keys: []
    }
  }
};
</script>