.mr-navbar-container {
	background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}
#left-col{
	position: fixed;
	left: -280px;
	top: 90px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 280px;
	z-index: 1;
	display: block;
	transition: all 0.5s ease-in-out;
	border-right: 1px dashed #e5e5e5;
}
.mr-color-black{
	color: black !important;
}

.mr-color-black:hover{
	color: #28a5f5 !important;
}

.mr-bgcolor-blue{
	background-color: #28a5f5 !important;
}

.mr-bgcolor-blue:hover{
	background-color: #1e87f0 !important;
}

.mr-bgcolor-green{
	background-color: #25C199 !important;
}

.mr-bgcolor-green:hover{
	background-color: #20a380 !important;
}

.mr-nav-active{
	color: #28a5f5 !important;
}

.mr-bottom-dashed{
	border: 1px dashed #e5e5e5;
}

.mr-content{
	margin-top: 80px;
	padding-top: 10px;
	margin-left: 0;
	-webkit-transition: margin 0.3s cubic-bezier(.4,0,.2,1);
	transition: margin 0.3s cubic-bezier(.4,0,.2,1);
	position: absolute;
}

.mr-margin-top-bottom-5{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.mr-hover-blue:hover{
	color: #28a5f5 !important;
}

.quill-editor{
	height: 700px !important;
}

.quill-editor-small{
	height: 400px !important;
}

.quill-editor .ql-toolbar{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.quill-editor .ql-container{
	height: 90% !important;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quill-editor .ql-snow{
	border: 1px solid #e5e5e5 !important;
}

.quill-editor .ql-container{
	border-top: none !important;
}

.mr-quill-danger .ql-snow{
	border-color: #f0506e !important;
}

.ql-editor em{
	color: inherit;
}

.mr-cursor-pointer{
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none
}

.uk-notification-message{
    border-radius: 5px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

@media only screen and (min-width: 960px) {
	.mr-content {
		margin-left: 290px !important;
		width: calc(100% - 310px);
	}
	.mr-toggler{
		display: none !important;
	}

	#left-col {
		left: 0px !important;
	}
}

@media only screen and (max-width: 960px) {
	.mr-left-open.uk-open{
		left: 0px !important;
	}
}


/* -----------------------------
Switch */

.uk-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

/* Hide default HTML checkbox */
.uk-switch input {
  display:none;
}
/* Slider */
.uk-switch-slider {
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 500px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
	transition-duration: .2s;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
}
/* Switch pointer */
.uk-switch-slider:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
	transition-duration: .2s;
}
/* Slider active color */
input:checked + .uk-switch-slider {
  background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
  transform: translateX(26px);
}

/* Modifiers */
.uk-switch-slider.uk-switch-on-off {
  background-color: #f0506e;
}
input:checked + .uk-switch-slider.uk-switch-on-off {
  background-color: #32d296 !important;
}

/* Style Modifier */
.uk-switch-slider.uk-switch-big:before {
  transform: scale(1.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
.uk-switch-slider.uk-switch-small:before {
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
input:checked + .uk-switch-slider.uk-switch-big:before {
  transform: translateX(26px) scale(1.2);
}