
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Bootstrap
//@import '~bootstrap/scss/bootstrap';






//UIkit
$global-link-color: #000;

@import '~uikit/src/scss/variables-theme';
@import '~uikit/src/scss/mixins-theme';

@mixin hook-card() { color: #000; }

@import '~uikit/src/scss/uikit-theme.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//CMS style
@import "admin-style";