<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="localization.edit"></action-panel-layout>
      <div class="uk-card uk-card-default uk-border-rounded uk-card-body">

        <template v-if="position == 'backend'">
          <table class="uk-table" v-for="(i,index) in items">
            <tbody>
              <caption>{{index}}</caption>
              <tr v-for="(loc,locindex) in i">
                <th class="uk-width-1-4">{{locindex}}</th>
                <td class="uk-width-3-4"><input class="uk-input" type="text" v-model="i[locindex]"></td>
              </tr>
            </tbody>
          </table>
        </template>
        <template v-else>
          <table class="uk-table">
            <tbody>
              <tr v-for="(i,index) in items">
                <th class="uk-width-1-4">{{index}}</th>
                <td class="uk-width-3-4"><input class="uk-input" type="text" v-model="items[index]"></td>
              </tr>
            </tbody>
          </table>
        </template>

      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'localization-edit',
  mounted(){
    this.loadData()
  },
  methods: {
    loadData(){
      this.apiGet('get/localization-sections/' + this.$route.params.position + '/' + this.$route.params.lang).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        }else if(response.body.item == null){
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t("error.doesnt_exists"));
        } else {
          this.items = response.body.item
        }
      }).catch((errors) => {
        if(errors.body.message != ''){
          UIkit.modal.alert(errors.body.message);
        }else{
          UIkit.modal.alert(errors.body.exception);
        }
        
      })
    },
    saveChanges(){
      var vm = this
      var post_data = {'position': this.$route.params.position, 'lang': this.$route.params.lang, 'data': this.items}
      this.apiPost('update/localization', post_data).then((response) => {
        if(response.body.haserror){
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    }
  },
  data () {
    return {
      empty_data: false,
      searchers: [], // for action panel, imagelayout will set select items
      items: {},
      load_url: '',
      position: this.$route.params.position,
      active_switcher: 'content'
    }
  }
};
</script>