<template>
  <admin-component>
    <div class="uk-card uk-card-default uk-width-1-1@m uk-margin-medium-top uk-border-rounded uk-padding-small">
      <h1 style="text-align: center;">{{$t('warning.access_denied')}}</h1>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'access-denied'
};
</script>