<template>
  <admin-component>
    <action-panel-layout :blueButton="true" blueButtonText="main.add" :blueButtonAction="addClicked" header="menu.admins" :searchInput="true" :searchers="searchers" :filters="filters" :searchByAllow="true" :filterByAllow="true"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        sorter="name" 
        ref="tableLayout"
        searcher="name"
        filterDefault="-1" 
        resource_url="get/admins"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props">
        <td>
          <img v-if="props.item.image != null" :data-src="props.item.image.path + props.item.image.filename" width="100" height="100" uk-img>
          <img v-else class="uk-comment-avatar" src="storage/default/images/placeholder.png" width="100" height="100" :alt="$t('main.profile_image')">
        </td>
        <td>{{props.item.name}} <span class="uk-label" v-if="props.item.is_superadmin" :title="$t('permissions.superadmin')">S</span></td>
        <td>{{$t('permissions.' + props.item.role)}}</td>
        <td>{{props.item.email}}</td>
        <td>{{datetimeFormat(props.item.created_at)}}</td>
        <td>{{datetimeFormat(props.item.updated_at)}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
      </template>
    </table-layout>

  </admin-component>
</template>

<script>
export default {
  name: 'admins',
  mounted(){
    this.$on('action-clicked', (action) => {
      switch (action.type) {
        case 'edit':
          this.$router.push({name: 'admin-edit', params: {id: action.item.id_admin}})
          break
        default:
          UIkit.modal.alert(action.title);
          break
      }
    })
    this.$on('search-updated', (data) => {
      console.log(data.query)

    })
    this.loadFilters()
  },
  methods: {
    getComponent () {
      return this
    },
    addClicked(){
      this.$router.push({name: 'admin-add'})
    },
    actionBulks(item){
      return [
                { title: 'main.edit', type: 'edit', icon: 'pencil', item: item}
              ]
    },
    loadFilters(){
      this.filters = []
      this.apiGet('get/admin-roles').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
          this.filterByAllow = false
        } else {
          this.filterByAllow = true
          this.filters = response.body.items
        }
      }).catch(error => {
        console.log(error)
        this.filterByAllow = false
      })
    },
  },
  data () {
    return {
      tableHeaders: [
        { text: 'main.image', sortable: false, index: 'image_thumbnail' },
        { text: 'main.name', sortable: true, index: 'name' },
        { text: 'permissions.role', sortable: false, index: 'role' },
        { text: 'main.email', sortable: true, index: 'email' },
        { text: 'admins.created', sortable: true, index: 'created_at' },
        { text: 'admins.last_update', sortable: true, index: 'updated_at' },
        { text: 'main.actions', sortable: false, index: null}
      ],
      searchers: [
        { text: 'main.name', value: 'name', selected: true},
        { text: 'main.email', value: 'email', selected: false},
        { text: 'admins.created', value: 'created_at', selected: false},
      ],
      filterByAllow: true,
      filters: []
    }
  }
};
</script>