<template>
  <admin-component>
    <action-panel-layout :greenButton="false" header="menu.broadcasts" :searchInput="true" :searchers="searchers" :searchByAllow="true"></action-panel-layout>
    <dragdrop-select-layout 
                            upload_url="upload/broadcast" 
                            :parametrs="params"
                            allowed='*.(mov|mp4|m4v|mpeg|mpg)'
                            :drop_text="$t('main.attach_file')"
                            :select_text="$t('main.select_file')"
                            :fail_text="$t('main.file_types', {'types': 'mov, mp4, m4v, mpeg, mpg'})"
                            :updater=updateView
    ></dragdrop-select-layout>
    <table-layout 
        :headers="tableHeaders" :pager="true" 
        :limiter="true" :search="true" 
        sorter="created_at" ref="tableLayout"
        sorter_dir = "desc" 
        resource_url="get/broadcasts"
        searcher="internal_name"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props">
        <td>
          <video :src="props.item.path + props.item.internal_name" loop muted playsinline uk-video="autoplay: false" width="200" height="150" :href="'#modal-media-video' + props.item.id_broadcast" uk-toggle></video>
          <div :id="'modal-media-video' + props.item.id_broadcast" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
              <button class="uk-modal-close-outside" type="button" uk-close></button>
              <video :src="props.item.path + props.item.internal_name" controls playsinline uk-video></video>
            </div>
          </div>
        </td>
        <td>
          <p>{{props.item.name}}<br>
            <span class="uk-text-meta">internal_name: {{props.item.internal_name}}</span><br>
            <span class="uk-text-meta">path: {{props.item.path}}</span><br>
          </p>
        </td>
        <td>{{props.item.created_at}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
      </template>
    </table-layout>
  </admin-component>
</template>

<script>
export default {
  name: 'broadcasts',
  mounted(){
    this.$on('action-clicked', (action) => {
      var vm = this
      switch (action.type) {
        case 'delete':
          UIkit.modal.confirm(this.$i18n.t('warning.delete_file', {'file': action.item.internal_name}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
            ).then(function () {
            vm.apiPost('delete/broadcast', {
              id_broadcast: action.item.id_broadcast
            }).then((response) => {
              if(response.body.haserror){
                UIkit.notification(vm.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
              }else{
                vm.updateView()
              }
            }).catch((e) => {
              UIkit.modal.alert(e);
            })
          });
          break
        default:
          UIkit.modal.alert('Unknown action: ' + action.title);
          break
      }
    })
    this.$on('update-view', (data) => {
      this.$refs.tableLayout.$forceUpdate()
    })
  },
  methods: {
    getComponent () {
      return this
    },
    actionBulks(item){
      return [
            { title: 'main.delete', type: 'delete', icon: 'trash', item: item },
          ]
    },
    updateView(){
      this.$refs.tableLayout.loadData()
    }

  },
  data () {
    return {
      params: {
        'target': 'videos'
      },
      tableHeaders: [
        { text: 'main.video', sortable: false, index: 'image_thumbnail' },
        { text: 'main.name', sortable: true, index: 'name' },
        { text: 'main.created', sortable: true, index: 'created_at' },
        { text: 'main.actions', sortable: false, index: null}
      ],
      searchers: [
        { text: 'main.internal_name', value: 'internal_name', selected: true},
        { text: 'main.name', value: 'name', selected: true},
        { text: 'main.created', value: 'created_at', selected: false},
      ]
    }
  }
};
</script>