<template>
  <admin-component>
    <action-panel-layout :blueButton="true" blueButtonText="content.add" :blueButtonAction="addClicked" header="menu.content" :searchInput="true" :searchers="searchers" :searchByAllow="true" :filters="filters" :filterByAllow="true"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        sorter="created_at"
        sorter_dir="desc" 
        ref="tableLayout"
        searcher="internal_name" 
        filterDefault="0" 
        resource_url="get/content"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props">
        <td>{{props.item.internal_name}}</td>
        <td>{{props.item.type}}</td>
        <td>{{props.item.title}}</td>
        <td>{{props.item.language}}</td>
        <td>
          <div class="uk-width-auto">
            <label class="uk-switch">
              <input type="checkbox" :checked="props.item.is_active" disabled>
              <div class="uk-switch-slider" style="cursor: not-allowed;"></div>
            </label>
          </div>
        </td>
        <td>{{datetimeFormat(props.item.created_at)}}</td>
        <td>{{datetimeFormat(props.item.updated_at)}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
      </template>
    </table-layout>

  </admin-component>
</template>

<script>
export default {
  name: 'content',
  mounted(){
    let vm = this
    this.$on('action-clicked', (action) => {
      switch (action.type) {
        case 'edit':
          this.$router.push({name: 'content-edit', params: {id: action.item.id_content}})
          break
        case 'delete':
          UIkit.modal.confirm(this.$i18n.t('warning.delete_item', {'file': action.item.filename}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('delete/content', {
              id_content: action.item.id_content
            }).then((s) => {
              vm.$refs.tableLayout.loadData()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        default:
          UIkit.modal.alert(action.title);
          break
      }
    })
    this.$on('search-updated', (data) => {
      console.log(data.query)

    })
    this.loadFilters()
  },
  methods: {
    getComponent () {
      return this
    },
    addClicked(){
      this.$router.push({name: 'content-add'})
    },
    actionBulks(item){
      return [
                { title: 'main.edit', type: 'edit', icon: 'pencil', item: item},
                { title: 'main.delete', type: 'delete', icon: 'trash', item: item }
              ]
    },
    loadFilters(){
      this.filters = []
      this.apiGet('get/ltypes').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
          this.filterByAllow = false
        } else {
          this.filterByAllow = true
          this.filters = response.body.items
        }
      }).catch(error => {
        this.filterByAllow = false
      })
    },
  },
  data () {
    return {
      tableHeaders: [
        { text: 'content.internal_name', sortable: true, index: 'internal_name' },
        { text: 'content.type', sortable: false, index: 'id_content_type' },
        { text: 'content.title', sortable: true, index: 'title' },
        { text: 'content.language', sortable: true, index: 'language' },
        { text: 'main.is_active', sortable: false, index: 'is_active' },
        { text: 'main.created', sortable: true, index: 'created_at' },
        { text: 'main.last_update', sortable: true, index: 'updated_at' },
        { text: 'main.actions', sortable: false, index: null}
      ],
      searchers: [
        { text: 'content.internal_name', value: 'internal_name', selected: true},
        { text: 'content.title', value: 'title', selected: false},
        { text: 'content.slug', value: 'slug', selected: false},
        { text: 'content.language', value: 'language', selected: false},
        { text: 'main.created', value: 'created_at', selected: false},
      ],
      filterByAllow: true,
      filters: []
    }
  }
};
</script>