<template>
	<admin-component>
		<action-panel-layout :searchInput="false" header="menu.dashboard"></action-panel-layout>
		<div class="uk-padding-small uk-grid uk-grid-divider uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@l uk-child-width-1-3@xl" data-uk-grid v-if="content">
			<div>
				<span class="uk-text-small"><span data-uk-icon="icon:user" class="uk-margin-small-right uk-text-primary"></span>{{$t('dashboard.total_admins')}}</span>
				<h1 class="uk-heading-primary uk-margin-remove  uk-text-primary">{{content.admin.total}}</h1>
				<div class="uk-text-small">
          <span data-uk-icon="icon:check" class="uk-text-primary"></span>
          <span class="uk-margin-small-right">{{$t('dashboard.active')}}: {{content.admin.active}}</span>
				</div>
			</div>

			<div>
				<span class="uk-text-small">
          <span data-uk-icon="icon:file-text" class="uk-margin-small-right uk-text-primary"></span>
          {{$t('dashboard.total_news')}}
        </span>
				<h1 class="uk-heading-primary uk-margin-remove uk-text-primary">{{content.content.data}}</h1>
				<div class="uk-text-small">
          <span data-uk-icon="icon:check" class="uk-text-primary"></span>
          <span class="uk-margin-small-right">{{$t('dashboard.active')}}: {{content.content.active}}</span>
          <span data-uk-icon="icon:play" class="uk-text-primary"></span>
          <span class="uk-margin-small-right">{{$t('dashboard.total_az')}}: {{content.content.total_az}}</span>
          <span data-uk-icon="icon:play" class="uk-text-primary"></span>
          <span class="uk-margin-small-right">{{$t('dashboard.total_ru')}}: {{content.content.total_ru}}</span>
				</div>
			</div>
		</div>
	</admin-component>
</template>

<script>
export default {
	name: 'dashboard',
  mounted(){
    this.loadData()
  },
	methods: {
    loadData(){
      this.filters = []
      this.apiGet('get/dashboard').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
        } else {
          this.content = response.body
        }
      }).catch(error => {
        this.content = []
      })
    },
	},
	data () {
		return {
      content: null
		}
	}
};
</script>