<template>
  <admin-component>
    <action-panel-layout :blueButton="true" blueButtonText="emails.send" :blueButtonAction="sendClicked" header="menu.emails" :searchInput="true" :searchers="searchers" :searchByAllow="true"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        sorter="email" 
        ref="tableLayout"
        searcher="email" 
        resource_url="get/emails"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props" uk-sortable>
        <td>{{props.item.email}}</td>
        <td><button class="uk-button uk-button-text" type="button" uk-toggle="target: #modal-close-default">{{props.item.title}}</button></td>
        <div id="modal-close-default" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">{{props.item.title}}</h2>
            <p v-html="props.item.text"></p>
          </div>
        </div>
        <td>{{props.item.send}}</td>
        <td>{{datetimeFormat(props.item.created_at)}}</td>
      </template>
    </table-layout>

  </admin-component>
</template>

<script>
export default {
  name: 'emails',
  methods: {
    sendClicked(){
      this.$router.push({name: 'email-send'})
    }
  },
  data () {
    return {
      tableHeaders: [
        { text: 'emails.email', sortable: true, index: 'email' },
        { text: 'emails.title', sortable: true, index: 'title' },
        { text: 'emails.sendet', sortable: false, index: 'send' },
        { text: 'main.created', sortable: true, index: 'created_at' }
      ],
      searchers: [
        { text: 'emails.email', value: 'email', selected: true},
        { text: 'emails.title', value: 'title', selected: false},
        { text: 'main.created', value: 'created_at', selected: false},
      ]
    }
  }
};
</script>