<template>
	<admin-component>
		<action-panel-layout :greenButton="false" header="menu.images" :searchInput="true" :searchers="searchers" :searchByAllow="true"></action-panel-layout>
		<dragdrop-select-layout 
														upload_url="upload/image" 
														:parametrs="params"
														allowed='*.(jpg|jpeg|gif|png)'
                            :drop_text="$t('main.attach_file')"
                            :select_text="$t('main.select_file')"
                            :fail_text="$t('main.file_types', {'types': 'jpg, jpeg, gif, png'})"
														:updater=updateView
		></dragdrop-select-layout>
		<table-layout 
				:headers="tableHeaders" :pager="true" 
				:limiter="true" :search="true" 
				sorter="filename" ref="tableLayout" 
				resource_url="get/images"
				searcher="filename"
        :showLimiter="true"
        :showPager="true">
			<template slot="table-items" slot-scope="props">
				<td>
					<img :data-src="props.item.t_path + props.item.t_filename" :width="props.item.t_width" :height="props.item.t_height" uk-img>
				</td>
				<td>
					<p>{{props.item.filename}}<br>
						<span class="uk-text-meta">path: {{props.item.path}}</span><br>
						<span class="uk-text-meta">
							size: {{props.item.width}} x {{props.item.height}}
						</span>
					</p>
				</td>
				<td>{{props.item.created_at}}</td>
				<action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
			</template>
		</table-layout>
	</admin-component>
</template>

<script>
export default {
	name: 'images',
	mounted(){
		this.$on('action-clicked', (action) => {
			var vm = this
			switch (action.type) {
				case 'delete':
					UIkit.modal.confirm(this.$i18n.t('warning.delete_file', {'file': action.item.filename}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
            ).then(function () {
						vm.apiPost('delete/image', {
							id_image: action.item.id_image
						}).then((response) => {
              if(response.body.haserror){
                UIkit.notification(vm.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
              }else{
                vm.updateView()
              }
						}).catch((e) => {
							UIkit.modal.alert(e);
						})
					});
					break
				default:
          UIkit.modal.alert('Unknown action: ' + action.title);
					break
			}
		})
		this.$on('update-view', (data) => {
			this.$refs.tableLayout.$forceUpdate()
		})
	},
	methods: {
		getComponent () {
			return this
		},
		actionBulks(item){
			return [
						{ title: 'main.delete', type: 'delete', icon: 'trash', item: item },
					]
		},
		updateView(){
			this.$refs.tableLayout.loadData()
		}

	},
	data () {
		return {
			params: {
				'target': 'images'
			},
			tableHeaders: [
				{ text: 'main.image', sortable: false, index: 'image_thumbnail' },
				{ text: 'main.name', sortable: true, index: 'filename' },
				{ text: 'main.created', sortable: true, index: 'created_at' },
				{ text: 'main.actions', sortable: false, index: null}
			],
			searchers: [
				{ text: 'main.name', value: 'filename', selected: true},
				{ text: 'main.path', value: 'path', selected: false},
				{ text: 'main.width', value: 'width', selected: false},
				{ text: 'main.height', value: 'height', selected: false},
				{ text: 'main.created', value: 'created_at', selected: false},
			]
		}
	}
};
</script>