<template>
  <admin-component>
    <action-panel-layout header="menu.localization" :searchInput="false"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        ref="tableLayout"
        resource_url="get/localizations">
      <template slot="table-items" slot-scope="props">
        <td>{{$t('lang.' + props.item.name)}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item.name)"></action-bulk-layout>
      </template>
    </table-layout>

  </admin-component>
</template>

<script>
export default {
  name: 'localization',
  mounted(){
    this.$on('action-clicked', (action) => {
      switch (action.type) {
        case 'edit-backend':
          this.$router.push({name: 'localization-edit', params: {position: 'backend', lang: action.item}})
          break
        case 'edit-frontend':
          this.$router.push({name: 'localization-edit', params: {position: 'frontend', lang: action.item}})
          break
        default:
          UIkit.modal.alert(action.title);
          break
      }
    })
    this.$on('search-updated', (data) => {
      console.log(data.query)
    })
  },
  methods: {
    getComponent () {
      return this
    },
    actionBulks(item){
      var has_access = this.hasPermission(
                            "localization-edit", 
                            this.$parent.is_superadmin, 
                            this.$parent.admin_allowed, 
                            this.$parent.permissions
                        )
      if(!has_access){
        return []
      }else{
        return [
                { title: 'localization.edit-backend', type: 'edit-backend', icon: 'pencil', item: item},
                { title: 'localization.edit-frontend', type: 'edit-frontend', icon: 'pencil', item: item}
              ]
      }
    },
  },
  data () {
    return {
      tableHeaders: [
        { text: 'localization.section', sortable: false, index: 'section' },
        { text: 'main.actions', sortable: false, index: null}
      ]
    }
  }
};
</script>