<template>
  <div class="uk-background-secondary uk-light uk-padding uk-panel uk-flex uk-flex-center uk-flex-middle" uk-img style="height: 100vh;">
    <div class="uk-container-small uk-text-center">
      <h1 class="uk-heading-2xlarge">404</h1>
      <h1 class="uk-heading-small">{{$t('warning.404')}}</h1>
      <button class="uk-button uk-button-text" @click="backClicked">{{$t('main.go_back')}}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-not-found',
  methods: {
    backClicked(){
      this.$router.push({name: 'dashboard'})
    }
  }
};
</script>