<template>
	<admin-component>
		<action-panel-layout header="menu.permissions" :searchInput="true" :searchers="searchers" :searchByAllow="true"></action-panel-layout>
		<table-layout 
				:headers="tableHeaders"
				sorter="role" 
        ref="tableLayout"
				searcher="role" 
				resource_url="get/permissions"
        :showLimiter="true"
        :showPager="true">
			<template slot="table-items" slot-scope="props">
				<td>{{$t('permissions.' + props.item.role)}}</td>
				<td>{{datetimeFormat(props.item.created_at)}}</td>
				<td>{{datetimeFormat(props.item.updated_at)}}</td>
				<action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
			</template>
		</table-layout>
	</admin-component>
</template>

<script>
export default {
	name: 'permissions',
	mounted(){
		this.$on('action-clicked', (action) => {
			switch (action.type) {
				case 'edit':
					this.$router.push({name: 'permission-edit', params: {id: action.item.id_permission}})
					break
				default:
					UIkit.modal.alert(action.title);
					break
			}
		})
	},
	methods: {
		getComponent () {
			return this
		},
		actionBulks(item){
			return [
								{ title: 'main.edit', type: 'edit', icon: 'pencil', item: item}
							]
		},
	},
	data () {
		return {
			tableHeaders: [
				{ text: 'permissions.role', sortable: true, index: 'role' },
				{ text: 'main.created', sortable: true, index: 'created_at' },
				{ text: 'main.last_update', sortable: true, index: 'updated_at' },
				{ text: 'main.actions', sortable: false, index: null}
			],
			searchers: [
				{ text: 'permissions.role', value: 'role', selected: true},
				{ text: 'main.created', value: 'created_at', selected: false},
			]
		}
	}
};
</script>