<template>
	<admin-component>
		<action-panel-layout :searchInput="false" 
													header="menu.profile"
													:blueButton="true" 
													blueButtonText="main.edit"
													:blueButtonAction="editClick"
		></action-panel-layout>
		<div class="uk-card uk-width-1-1@m uk-margin-medium-top uk-border-rounded uk-padding-small" uk-grid v-if="user_data != null">
			<div class="uk-width-auto">
				<div class="uk-card uk-card-default uk-card-body uk-padding-small uk-border-rounded">
					<img v-if="user_data.image != null" class="uk-comment-avatar" :src="user_data.image.path + user_data.image.filename" width="168" alt="Profile image">
					<img v-else class="uk-comment-avatar" src="storage/default/images/placeholder.png" width="120" :alt="$t('main.profile_image')">
				</div>
			</div>
			<div class="uk-width-expand">
				<div class="uk-card uk-card-default uk-card-body uk-border-rounded">
					<h1 class="uk-article-title">{{user_data.data.name}}</h1>
					<span>Email: {{user_data.data.email}}</span><br>
					<span class="uk-text-meta">Joined: {{user_data.data.created_at}}</span><br>
				</div>
			</div>
			
		</div>
	</admin-component>
</template>

<script>
export default {
	name: 'profile',
	mounted(){
		this.loadData()
	},
	methods: {
		loadData(){
			this.apiGet('get/profile-data').then(response => {
				if (response.body.haserror) {
					UIkit.modal.alert(response.body.error);
				} else {
					this.user_data = response.body
				}
			}).catch(error => {
				console.log(error)
			})
		},
		editClick(){
      this.$router.push({name: 'profile-edit'})
		}
	},
	data () {
		return {
			user_data: null
		}
	}
};
</script>