<template>
  <admin-component>
    <action-panel-layout header="menu.settings"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        sorter="role" 
        ref="tableLayout"
        searcher="role" 
        resource_url="get/settings"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props">
        <td>{{$t('lang.' + props.item.language)}}</td>
        <td>{{datetimeFormat(props.item.updated_at)}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
      </template>
    </table-layout>
  </admin-component>
</template>

<script>
export default {
  name: 'settings',
  mounted(){
    this.$on('action-clicked', (action) => {
      switch (action.type) {
        case 'edit':
          this.$router.push({name: 'settings-edit', params: {id: action.item.id_settings}})
          break
        default:
          UIkit.modal.alert(action.title);
          break
      }
    })
  },
  methods: {
    getComponent () {
      return this
    },
    actionBulks(item){
      return [
                { title: 'main.edit', type: 'edit', icon: 'pencil', item: item}
              ]
    },
  },
  data () {
    return {
      tableHeaders: [
        { text: 'settings.language', sortable: false, index: 'language' },
        { text: 'main.last_update', sortable: false, index: 'updated_at' },
        { text: 'main.actions', sortable: false, index: null}
      ]
    }
  }
};
</script>