<template>
  <admin-component>
    <action-panel-layout header="menu.tv-schedules"></action-panel-layout>
    <div class="uk-grid-medium uk-child-width-1-6@s uk-text-center" uk-grid>
      <template  v-for="day in scheduleDays">
        <div>
          <div 
              @mouseover="day.isHovering = true" 
              @mouseout="day.isHovering = false" 
              :class="{'uk-card': true, 'uk-card-body': true, 'uk-card-default': day.isHovering == false, 'uk-card-primary': day.isHovering == true}"
            >
            {{day.day}}
            <template v-for="language in getLanguages()">
              <button class="uk-button uk-button-text" @click="editSchedule(day.day, language)">
                {{$t('lang.' + language)}}
              </button>
              <br>
            </template>
          </div>
        </div>
      </template>
  </div>
  </admin-component>
</template>

<script>
export default {
  name: 'news',
  mounted(){
    this.loadScheduleDays()
  },
  methods: {
    loadScheduleDays(){
      this.apiGet('get/tvschedule-days').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
        } else {
          this.scheduleDays = response.body.days
        }
      })
    },
    editSchedule(day, language){
      this.$router.push({name: 'tv-schedules-edit', params: {day: day, lang: language}})
    }
  },
  data () {
    return {
      scheduleDays: [],
      isHovering: false
    }
  }
};
</script>