<template>
  <admin-component>
    <action-panel-layout :blueButton="true" blueButtonText="types.add" :blueButtonAction="addClicked" header="menu.types" :searchInput="true" :searchers="searchers" :searchByAllow="true" :filters="filters" :filterByAllow="true"></action-panel-layout>
    <table-layout 
        :headers="tableHeaders"
        sorter="internal_name" 
        ref="tableLayout"
        searcher="internal_name" 
        resource_url="get/types"
        :showLimiter="true"
        :showPager="true">
      <template slot="table-items" slot-scope="props" uk-sortable>
        <td>{{$t('menu.' + props.item.type)}}</td>
        <td>{{props.item.internal_name}}</td>
        <td>{{props.item.name_az}}</td>
        <td>{{props.item.name_en}}</td>
        <td>{{props.item.name_ru}}</td>
        <td>{{props.item.sort}}</td>
        <td>
          <div class="uk-width-auto">
            <label class="uk-switch">
              <input type="checkbox" :checked="props.item.is_active" disabled>
              <div class="uk-switch-slider" style="cursor: not-allowed;"></div>
            </label>
          </div>
        </td>
        <td>{{datetimeFormat(props.item.created_at)}}</td>
        <td>{{datetimeFormat(props.item.updated_at)}}</td>
        <action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
      </template>
    </table-layout>

  </admin-component>
</template>

<script>
export default {
  name: 'types',
  mounted(){
    this.$on('action-clicked', (action) => {
      switch (action.type) {
        case 'edit':
          this.$router.push({name: 'type-edit', params: {id: action.item.id_type}})
          break
        default:
          UIkit.modal.alert(action.title);
          break
      }
    })
    this.$on('search-updated', (data) => {
      console.log(data.query)

    })
  },
  methods: {
    getComponent () {
      return this
    },
    addClicked(){
      this.$router.push({name: 'type-add'})
    },
    actionBulks(item){
      return [
                { title: 'main.edit', type: 'edit', icon: 'pencil', item: item}
              ]
    },
  },
  data () {
    return {
      tableHeaders: [
        { text: 'types.type', sortable: true, index: 'type' },
        { text: 'types.internal_name', sortable: true, index: 'internal_name' },
        { text: 'types.name_az', sortable: true, index: 'name_az' },
        { text: 'types.name_en', sortable: true, index: 'name_az' },
        { text: 'types.name_ru', sortable: true, index: 'name_az' },
        { text: 'types.sort', sortable: true, index: 'sort' },
        { text: 'main.is_active', sortable: false, index: 'is_active' },
        { text: 'main.created', sortable: true, index: 'created_at' },
        { text: 'main.last_update', sortable: true, index: 'updated_at' },
        { text: 'main.actions', sortable: false, index: null}
      ],
      searchers: [
        { text: 'types.internal_name', value: 'internal_name', selected: true},
        { text: 'types.name_az', value: 'name_az', selected: false},
        { text: 'types.name_en', value: 'name_en', selected: false},
        { text: 'types.name_ru', value: 'name_ru', selected: false},
        { text: 'main.created', value: 'created_at', selected: false},
      ],
      filters: [
        { value: 0, text: "types.all", selected: true },
        { value: 'news', text: "menu.news", selected: false },
        { value: 'business', text: "menu.business", selected: false },
        { value: 'economic', text: "menu.economic", selected: false },
        { value: 'politic', text: "menu.politic", selected: false },
        { value: 'society', text: "menu.society", selected: false }
      ]
    }
  }
};
</script>