<template>
	<div class="uk-offcanvas-content">
		<header-layout></header-layout>
		<aside id="left-col" uk-offcanvas="overlay: false;" class="uk-background-muted mr-left-open">
				<div class="uk-width-1-1 uk-padding-small">
					<ul class="uk-nav uk-nav-default">
						<template v-for="item in items">
              <template v-if="hasPermission(item.name, is_superadmin, admin_allowed, permissions)">
                <li v-if="item.header" class="uk-nav-header"><span class="uk-margin-small-right" :uk-icon="'icon:' + item.icon + ';'"></span><span class="uk-text-italic uk-text-bold">{{$t('menu.'+item.header)}}</span></li>
                <li v-else-if="item.name == 'dashboard'" :class="{ 'mr-nav-active': isCurrentPage(item.name), 'mr-color-black': true}" @click="click(item)" style="cursor: pointer;"><span class="uk-margin-small-right" :uk-icon="'icon:' + item.icon + ';'"></span>{{$t('menu.'+item.text)}}</li>
                <li v-else :class="{ 'mr-nav-active': isCurrentPage(item.name), 'mr-color-black': true}" @click="click(item)" style="cursor: pointer; padding-left: 30px;">
                  <span class="uk-text-uppercase">{{$t('menu.'+item.text)}}</span>
                </li>
              </template>
						</template>
					</ul>
			</div>
			<div class="uk-position-bottom-left uk-position-relative uk-position-small">
				<span class="uk-text-small uk-text-muted">©{{ new Date().getFullYear() }} {{this.$parent.$parent.appname}} <br> {{ $t("main.rights_reserved") }}</span>
			</div>
		</aside>
		<div class="uk-card mr-content uk-border-rounded uk-width-1-1@m">
			<slot v-if=""></slot>
		</div>
	</div>
</template>

<script>
export default {
	name: 'AdminComponent',
  mounted(){
    this.$i18n.locale = this.$parent.$parent.locale
    this.is_superadmin = this.$parent.$parent.is_superadmin
    this.admin_allowed = this.$parent.$parent.admin_allowed
    this.permissions = this.$parent.$parent.permissions
  },
	data: () => ({
		items: [
				{ icon: 'thumbnails', text: "dashboard", component: '/', name: 'dashboard' },
				{ header: "content", icon: 'grid' },
        { text: "content", component: '/content', name: 'content' },
        { text: "types", component: '/types', name: 'types' },
				{ header: "media", icon: 'image' },
				{ text: "images", component: '/images', name: 'images' },
        { text: "broadcasts", component: '/broadcasts', name: 'broadcasts' },
        { text: "gallery", component: '/gallery', name: 'gallery' },
        { header: "communication", icon: 'mail' },
        { text: "emails", component: '/emails', name: 'emails' },
				{ header: "users", icon: 'users' },
        { text: "admins", component: '/admins', name: 'admins' },
        { header: "rest", icon: 'nut' },
        { text: "settings", component: '/settings', name: 'settings' },
        { text: "localization", component: '/localization', name: 'localization' },
        { text: "permissions", component: '/permissions', name: 'permissions' },
		],
    permissions: [],
    admin_allowed: [],
    is_superadmin: 0
	}),
  ready(){
    console.log(this.$parent.$parent.user_data)
  },
	methods: {
		click (menu) {
			if (menu.target) {
				window.open(menu.target, '_blank')
			} else if (menu.component) {
        if(menu.component != this.$route.path){
          this.$router.push(menu.component)
        }
			} else if (menu.handler) {
				this[menu.handler]()
			}
		},
		isCurrentPage(page){
			return this.$route.name == page
		}
	},
  beforeUpdate() {
    var has_access = this.hasPermission(this.$parent.$options.name, this.is_superadmin, this.admin_allowed, this.permissions)
    if(!has_access){
      this.$router.push({name: 'access-denied'})
    }
  },
};
</script>