<template>
  <router-view></router-view>
</template>

<script>
export default {
  props: ['appname', 'locale', 'is_superadmin', 'admin_role', 'permissions', 'admin_allowed'],
  name: 'app',
  data () {
    return {
      user_data: null
    }
  }
};
</script>