<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="content.edit" :searchInput="showSearcher()"  :searchByAllow="showSearcher()" :searchers="searchers"></action-panel-layout>
      <ul uk-tab>
        <li><a href="#">{{$t('content.content')}}</a></li>
        <li><a href="#">{{$t('content.images')}}</a></li>
      </ul>

      <ul class="uk-switcher uk-margin" id="mr-switcher">
        <li id="content">
          <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
            <div class="uk-grid-small" uk-grid>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="internal_name">{{$t('content.internal_name')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('internal_name'), 'uk-input': true, 'uk-border-rounded': true}" id="internal_name" type="text" v-model="form_data.internal_name" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('internal_name')">
                    <span v-for="error in errors.internal_name">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <div class="uk-form-controls">
                  <label class="uk-form-label uk-text-muted" for="type">{{$t('content.type')}} *</label>
                  <select :class="{'uk-form-danger': error_keys.includes('type'), 'uk-select': true, 'uk-border-rounded': true}" id="type" v-model="form_data.type" required>
                    <option selected disabled>{{$t('content.type')}}</option>
                    <option v-for="type in types" :value="type.value">{{type.text}}</option>
                  </select>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('type')">
                    <span v-for="error in errors.type">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="title">{{$t('content.title')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('title'), 'uk-input': true, 'uk-border-rounded': true}" id="title" type="text" v-model="form_data.title" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('title')">
                    <span v-for="error in errors.title">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="slug">{{$t('content.slug')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('slug'), 'uk-input': true, 'uk-border-rounded': true}" id="slug" type="text" v-model="form_data.slug" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('slug')">
                    <span v-for="error in errors.slug">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <div class="uk-form-controls">
                  <label class="uk-form-label uk-text-muted" for="language">{{$t('content.language')}} *</label>
                  <select :class="{'uk-form-danger': error_keys.includes('language'), 'uk-select': true, 'uk-border-rounded': true}" id="language" v-model="form_data.language" required>
                    <option selected disabled>{{$t('content.language')}}</option>
                    <option v-for="language in this.getLanguages()" :value="language">{{$t('lang.' + language)}}</option>
                  </select>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('language')">
                    <span v-for="error in errors.language">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="topics">{{$t('content.topics')}}</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('topics'), 'uk-input': true, 'uk-border-rounded': true}" id="topics" type="text" v-model="form_data.topics">
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('topics')">
                    <span v-for="error in errors.topics">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-1@s">
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                  <label class="uk-form-label uk-text-muted">
                    <input class="uk-checkbox" type="checkbox" v-model="form_data.is_active"> {{$t('content.activate')}}
                  </label>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                  <label class="uk-form-label uk-text-muted">
                    <input class="uk-checkbox" type="checkbox" v-model="form_data.is_paid"> {{$t('content.is_paid')}}
                  </label>
                </div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                  <label class="uk-form-label uk-text-muted">
                    <input class="uk-checkbox" type="checkbox" v-model="form_data.is_big"> {{$t('content.is_big')}}
                  </label>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-card uk-card-default uk-border-rounded uk-card-body uk-margin-top uk-margin-bottom">
            <div class="uk-grid-small" uk-grid>

              <div class="uk-width-1-1@s">
                <label class="uk-form-label uk-text-muted" for="description">{{$t('content.description')}} *</label>
                <div class="uk-form-controls">
                  <textarea :class="{'uk-form-danger': error_keys.includes('description'), 'uk-textarea': true, 'uk-border-rounded': true}"  rows="10" style="resize: none;" v-model="form_data.description"></textarea>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('description')">
                    <span v-for="error in errors.description">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-1@s">
                <label class="uk-form-label uk-text-muted" for="body">{{$t('content.body')}} *</label>
                <div class="uk-form-controls">
                  <texteditor-layout :class="{'mr-quill-danger': error_keys.includes('body')}" v-model="form_data.body" :content="form_data.body" id="body"></texteditor-layout>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('body')">
                    <span v-for="error in errors.body">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

            </div>
          </div>

          <div class="uk-card uk-card-default uk-border-rounded uk-card-body uk-margin-top uk-margin-bottom">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="seo_title">{{$t('content.seo_title')}}</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('seo_title'), 'uk-input': true, 'uk-border-rounded': true}" id="seo_title" type="text" v-model="form_data.seo_title" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('seo_title')">
                    <span v-for="error in errors.seo_title">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="seo_keywords">{{$t('content.seo_keywords')}}</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('seo_keywords'), 'uk-input': true, 'uk-border-rounded': true}" id="seo_keywords" type="text" v-model="form_data.seo_keywords" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('seo_keywords')">
                    <span v-for="error in errors.seo_keywords">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="seo_description">{{$t('content.seo_description')}}</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('seo_description'), 'uk-input': true, 'uk-border-rounded': true}" id="seo_description" type="text" v-model="form_data.seo_description" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('seo_description')">
                    <span v-for="error in errors.seo_description">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="seo_robots">{{$t('content.seo_robots')}}</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('seo_robots'), 'uk-input': true, 'uk-border-rounded': true}" id="seo_robots" type="text" v-model="form_data.seo_robots" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('seo_robots')">
                    <span v-for="error in errors.seo_robots">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li id="images">
          <images-layout  :params="params" 
                          :drop_text="$t('main.attach_file')"
                          :select_text="$t('main.select_file')"
                          :fail_text="$t('main.file_types', {'types': 'jpg, jpeg, gif, png'})"
                          :load_url="'get/content-images/' + $route.params.id"
                          upload_url="upload/content/image"
                          ref="tableLayout"
                          :showLimiter="true"
                          :showPager="true"
          ></images-layout>
        </li>
      </ul>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'content-edit',
  mounted(){
    this.loadFilters()
    this.loadData()
    var vm = this
    UIkit.util.on('#mr-switcher', 'shown', function(event){
      if(event.target.id == 'content' || event.target.id == 'images'){
        vm.active_switcher = event.target.id
      }
    })
    this.params.target = 'content/' + this.$route.params.id
    this.params.id_content = this.$route.params.id
  },
  methods: {
    loadData(){
      this.apiGet('get/content/' + this.$route.params.id).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        }else if(response.body.item == null){
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t("error.doesnt_exists"));
        } else {
          this.form_data = response.body.item
        }
      }).catch((errors) => {
        if(errors.body.message != ''){
          UIkit.modal.alert(errors.body.message);
        }else{
          UIkit.modal.alert(errors.body.exception);
        }
        
      })
    },
    saveChanges(){
      this.form_data.id_content = this.$route.params.id
      this.required = []
      var vm = this
      this.form_data.is_active = (this.form_data.is_active === true || this.form_data.is_active === 1) ? 1 : 0
      this.form_data.is_paid = (this.form_data.is_paid === true || this.form_data.is_paid === 1) ? 1 : 0
      this.form_data.is_big = (this.form_data.is_big === true || this.form_data.is_big === 1) ? 1 : 0
      this.apiPost('update/content', this.form_data).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.error_keys = []
          vm.errors = []
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    },
    loadFilters(){
      this.types = []
      this.apiGet('get/ltypes').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
        } else {
          this.types = response.body.items

          this.types = this.types.filter(function(value, index, arr){
              return value.value > 0;
          });
        }
      }).catch(error => {
        console.log(error)
      })
    },
    showSearcher(){
      return this.active_switcher === 'images'
    },
    actionBulks(item){
      return [
                { title: 'main.make_main_image', type: 'make_main_image', icon: 'check', item: item },
                { title: 'main.delete', type: 'delete', icon: 'trash', item: item },
              ]
    },
    actionBulkClicked(action){
      let vm = this
      switch (action.type) {
        case 'delete':
          UIkit.modal.confirm(this.$i18n.t('warning.delete_file', {'file': action.item.filename}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('delete/image', {
              id_image: action.item.id_image
            }).then((s) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        case 'make_main_image':
          UIkit.modal.confirm(this.$i18n.t('warning.main_image'),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('update/content-main-image', {
              id_image: action.item.id_image,
              id_content: vm.$route.params.id
            }).then((response) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        default:
          UIkit.modal.alert('Unknown action: ' + action.title);
          break
      }
    }
  },
  data () {
    return {
      params: { //params for imagelayout. target is upload pleace
        'target': 'content'
      },
      empty_data: false,
      searchers: [], // for action panel, imagelayout will set select items
      form_data: {},
      errors: [],
      error_keys: [],
      load_url: '',
      active_switcher: 'content',
      types: []
    }
  },
  watch: {
    'form_data.title': function (newVal, oldVal){
      this.form_data.slug = this.prepareSlug(newVal)
    }
  }
};
</script>