<template>
  <admin-component>
    <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="profile.edit" :searchInput="showSearcher()"  :searchByAllow="showSearcher()" :searchers="searchers"></action-panel-layout>
    <ul uk-tab>
      <li><a href="#">{{$t('profile.menu.general')}}</a></li>
      <li><a href="#">{{$t('profile.menu.email')}}</a></li>
      <li><a href="#">{{$t('profile.menu.password')}}</a></li>
      <li><a href="#">{{$t('profile.menu.images')}}</a></li>
    </ul>

    <ul class="uk-switcher uk-margin" id="mr-switcher">
      <li id="general">
        <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1@s">
              <label class="uk-form-label uk-text-muted" for="name">{{$t('profile.name')}} *</label>
              <div class="uk-form-controls">
                <input :class="{'uk-form-danger': error_keys.includes('name'), 'uk-input': true, 'uk-border-rounded': true}" id="name" type="text" v-model="user_data.name" required>
                <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name')">
                  <span v-for="error in errors.name">
                    {{error}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="email">
        <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-1@s">
              <label class="uk-form-label uk-text-muted" for="email">{{$t('profile.email')}} *</label>
              <div class="uk-form-controls">
                <input :class="{'uk-form-danger': error_keys.includes('email'), 'uk-input': true, 'uk-border-rounded': true}" id="email" type="text" v-model="user_data.email" required>
                <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('email')">
                  <span v-for="error in errors.email">
                    {{error}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="password">
        <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label uk-text-muted" for="password">{{$t('profile.password')}} *</label>
              <div class="uk-form-controls">
                <input :class="{'uk-form-danger': error_keys.includes('password'), 'uk-input': true, 'uk-border-rounded': true}" id="password" type="password" v-model="user_data.password" required>
                <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password')">
                  <span v-for="error in errors.password">
                    {{error}}
                  </span>
                </p>
              </div>
            </div>
            <div class="uk-width-1-4@s">
              <label class="uk-form-label uk-text-muted" for="password_new">{{$t('profile.password_new')}} *</label>
              <div class="uk-form-controls">
                <input :class="{'uk-form-danger': error_keys.includes('password_new'), 'uk-input': true, 'uk-border-rounded': true}" id="password_new" type="password" v-model="user_data.password_new" required>
                <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password_new')">
                  <span v-for="error in errors.password_new">
                    {{error}}
                  </span>
                </p>
              </div>
            </div>
            <div class="uk-width-1-4@s">
              <label class="uk-form-label uk-text-muted" for="password_repeat">{{$t('profile.password_repeat')}} *</label>
              <div class="uk-form-controls">
                <input :class="{'uk-form-danger': error_keys.includes('password_repeat'), 'uk-input': true, 'uk-border-rounded': true}" id="password_repeat" type="password" v-model="user_data.password_new_confirmation" required>
                <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password_repeat')">
                  <span v-for="error in errors.password_repeat">
                    {{error}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="images">
        <images-layout  :params="params" 
                        :drop_text="$t('main.attach_file')"
                        :select_text="$t('main.select_file')"
                        :fail_text="$t('main.file_types', {'types': 'jpg, jpeg, gif, png'})"
                        :load_url="'get/profile-images'"
                        upload_url="upload/profile/image"
                        ref="tableLayout"
                        :showLimiter="true"
                        :showPager="true"
        ></images-layout>
      </li>
    </ul>
  </admin-component>
</template>

<script>
export default {
  name: 'profile-edit',
  mounted(){
    this.loadData()
    var vm = this
    var switchers = ['general', 'email', 'password', 'images']
    UIkit.util.on('#mr-switcher', 'shown', function(event){
      if(switchers.includes(event.target.id)){
        vm.active_switcher = event.target.id
      }
    })
  },
  methods: {
    loadData(){
      this.user_data = []
      this.apiGet('get/profile-data').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        } else {
          this.user_data = response.body.data
        }
      }).catch(error => {
        console.log(error)
      })
    },
    actionBulks(item){
      return [
                { title: 'main.make_main_image', type: 'make_main_image', icon: 'check', item: item },
                { title: 'main.delete', type: 'delete', icon: 'trash', item: item }
              ]
    },
    saveChanges(){
      var vm = this
      var post_data = {'data': this.user_data}
      this.apiPost('update/profile', post_data).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
          vm.loadData()
        }
      })
    },
    actionBulkClicked(action){
      let vm = this
      switch (action.type) {
        case 'delete':
          UIkit.modal.confirm(this.$i18n.t('warning.delete_file', {'file': action.item.filename}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('delete/image', {
              id_image: action.item.id_image
            }).then((s) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        case 'make_main_image':
          UIkit.modal.confirm(this.$i18n.t('warning.main_image'),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('update/profile-main-image', {
              id_image: action.item.id_image
            }).then((response) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        default:
          UIkit.modal.alert('Unknown action: ' + action.title);
          break
      }
    },
    showSearcher(){
      return this.active_switcher === 'images'
    },
  },
  data () {
    return {
      user_data: [],
      errors: [],
      error_keys: [],
      params: { //params for imagelayout. target is upload pleace
        'target': 'images'
      },
      searchers: [], // for action panel, imagelayout will set select items
      active_switcher: 'general'
    }
  }
};
</script>