<template>
  <admin-component>
    <action-panel-layout :greenButton="true" greenButtonText="main.send" :greenButtonAction="sendChanges" header="emails.send" :loading="loading"></action-panel-layout>
    <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
      <div class="uk-grid-small" uk-grid>

        <div class="uk-width-1-1@s">
          <label class="uk-form-label uk-text-muted" for="email">{{$t('emails.email')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('email'), 'uk-input': true, 'uk-border-rounded': true}" id="email" type="email" v-model="form_content.email" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('email')">
              <span v-for="error in errors.email">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-1@s">
          <label class="uk-form-label uk-text-muted" for="title">{{$t('emails.title')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('title'), 'uk-input': true, 'uk-border-rounded': true}" id="title" type="text" v-model="form_content.title" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('title')">
              <span v-for="error in errors.title">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-1@s">
          <label class="uk-form-label uk-text-muted" for="text">{{$t('emails.attachment')}}</label>
          <div class="uk-form-controls">
            <div uk-form-custom="target: true">
              <input type="file" @change="onFileChange" multiple>
              <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
            </div>
          </div>
        </div>

        <div class="uk-width-1-1@s">
          <label class="uk-form-label uk-text-muted" for="text">{{$t('emails.text')}} *</label>
          <div class="uk-form-controls">
            <texteditor-layout :class="{'mr-quill-danger': error_keys.includes('text')}" v-model="form_content.text" :content="form_content.text" id="text"></texteditor-layout>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('text')">
              <span v-for="error in errors.text">
                {{error}}
              </span>
            </p>
          </div>
        </div>

      </div>
    </div>  
  </admin-component>
</template>

<script>
export default {
  name: 'email-send',
  mounted(){
    var vm = this
  },
  methods: {
    sendChanges(){
      var vm = this
      let form_data = new FormData()
      for( var i = 0; i < this.attachments.length; i++ ){
        let file = this.attachments[i];
        form_data.append('attachments[' + i + ']', file)
      }
      form_data.append('email', this.form_content.email != undefined ? this.form_content.email : '')
      form_data.append('title', this.form_content.title != undefined ? this.form_content.title : '')
      form_data.append('text', this.form_content.text != undefined ? this.form_content.text : '')
      this.loading = true
      this.apiPostMultipart('send/email', form_data).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          this.loading = false
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.error_keys = []
          vm.errors = []
          vm.form_content = {}
          this.loading = false
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;

      this.attachments = files
    }
  },
  data () {
    return {
      form_content: {},
      attachments: [],
      errors: [],
      error_keys: [],
      loading: false
    }
  }
};
</script>