<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="permissions.edit"></action-panel-layout>
      <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
        <table class="uk-table uk-table-justify uk-table-divider">
          <thead>
            <tr>
              <th class="uk-width-small">{{$t('permissions.page')}}</th>
              <th>{{$t('permissions.list')}}</th>
              <th>{{$t('permissions.add')}}</th>
              <th>{{$t('permissions.edit')}}</th>
              <th>{{$t('permissions.delete')}}</th>
              <th>{{$t('permissions.send')}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="priv in this.getPrivs()">
              <td>
                {{$t(priv.name)}}
              </td>
              <td v-for="(key, index) in priv.items">
                <template v-if="!index.startsWith('empty')">
                  <div class="uk-width-auto">
                    <label class="uk-switch" :for="index">
                      <input type="checkbox" :id="index" v-model="content[index]">
                      <div class="uk-switch-slider uk-switch-big"></div>
                    </label>
                  </div>
                </template>
                <template v-else>
                  <div class="uk-width-auto">
                    <label class="uk-switch">
                      <input type="checkbox" disabled>
                      <div class="uk-switch-slider" style="cursor: not-allowed;"></div>
                    </label>
                  </div>
                </template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'permission-edit',
  mounted(){
    this.loadData()
    var vm = this
  },
  methods: {
    loadData(){
      this.apiGet('get/permission/' + this.$route.params.id).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        }else if(response.body.item == null){
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t("error.doesnt_exists"));
        } else {
          this.items = response.body.item
          this.content = response.body.allowed
        }
      }).catch((errors) => {
        console.log(errors)
      })
    },
    saveChanges(){
      var vm = this
      var post_data = {'id_permission': this.$route.params.id, 'data': this.content}
      this.apiPost('update/permission', post_data).then((response) => {
        if(response.body.haserror){
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    }
  },
  data () {
    return {
      empty_data: false,
      searchers: [], // for action panel, imagelayout will set select items
      items: {},
      load_url: '',
      active_switcher: 'content',
      content: {}
    }
  }
};
</script>