<template>
  <admin-component>
    <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="admins.add" :searchInput="false"  :searchByAllow="false"></action-panel-layout>
    <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="name">{{$t('admins.name')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('name'), 'uk-input': true, 'uk-border-rounded': true}" id="name" type="text" v-model="form_data.name" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name')">
              <span v-for="error in errors.name">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="email">{{$t('admins.email')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('email'), 'uk-input': true, 'uk-border-rounded': true}" id="email" type="email" v-model="form_data.email" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('email')">
              <span v-for="error in errors.email">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <div class="uk-form-controls">
            <label class="uk-form-label uk-text-muted" for="role">{{$tc('permissions.role', 1)}} *</label>
            <select :class="{'uk-form-danger': error_keys.includes('role'), 'uk-select': true, 'uk-border-rounded': true}" id="role" v-model="form_data.role" required>
              <option selected disabled>{{$tc('permissions.role', 2)}}</option>
              <option v-for="role in roles" :value="role.value">{{$t(role.text)}}</option>
            </select>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('role')">
              <span v-for="error in errors.role">
                {{error}}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    
    <div class="uk-card uk-card-default uk-border-rounded uk-card-body uk-margin-top uk-margin-bottom">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="password">{{$t('admins.password')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('password'), 'uk-input': true, 'uk-border-rounded': true}" id="password" type="password" v-model="form_data.password" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password')">
              <span v-for="error in errors.password">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="password_confirmation">{{$t('admins.password_confirmation')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('password_confirmation'), 'uk-input': true, 'uk-border-rounded': true}" id="password_confirmation" type="password" v-model="form_data.password_confirmation" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password_confirmation')">
              <span v-for="error in errors.password_confirmation">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label class="uk-form-label uk-text-muted">
            <input class="uk-checkbox" type="checkbox" v-model="form_data.is_superadmin" true-value="1" false-value="0"> {{$t('admins.is_superadmin')}}
          </label>
        </div>
        
      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'admin-add',
  mounted(){
    this.loadFilters()
  },
  methods: {
    saveChanges(){
      let item = this.form_data
      this.error_keys = []
      var vm = this
      this.apiPost('add/admin', item).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.$router.push({name: 'admin-edit', params: {id: response.body.id}})
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
          
        }
      })
    },
    isRequired(name){
      if(this.formstate[name] && this.formstate[name].$touched){
        return this.form_data['name'] && !this.formstate[name].$invalid
      }
    },
    loadFilters(){
      this.roles = []
      this.apiGet('get/admin-roles').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
        } else {
          this.roles = response.body.items

          this.roles = this.roles.filter(function(value, index, arr){
              return value.value > 0;
          });
        }
      }).catch(error => {
        console.log(error)
      })
    },
  },
  data () {
    return {
      formstate: {},
      form_data: {},
      errors: [],
      error_keys: [],
      roles: []
    }
  }
};
</script>