<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="admins.edit" :searchInput="showSearcher()"  :searchByAllow="showSearcher()" :searchers="searchers"></action-panel-layout>
      <ul uk-tab>
        <li><a href="#">{{$t('admins.content')}}</a></li>
        <li><a href="#">{{$t('admins.permissions')}}</a></li>
        <li><a href="#">{{$t('admins.images')}}</a></li>
      </ul>

      <ul class="uk-switcher uk-margin" id="mr-switcher">
        <li id="content">
          <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="name">{{$t('admins.name')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('name'), 'uk-input': true, 'uk-border-rounded': true}" id="name" type="text" v-model="form_data.name" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name')">
                    <span v-for="error in errors.name">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="email">{{$t('admins.email')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('email'), 'uk-input': true, 'uk-border-rounded': true}" id="email" type="email" v-model="form_data.email" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('email')">
                    <span v-for="error in errors.email">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <div class="uk-form-controls">
                  <label class="uk-form-label uk-text-muted" for="role">{{$tc('permissions.role', 1)}} *</label>
                  <select :class="{'uk-form-danger': error_keys.includes('role'), 'uk-select': true, 'uk-border-rounded': true}" id="role" v-model="form_data.role" required>
                    <option selected disabled>{{$tc('permissions.role', 2)}}</option>
                    <option v-for="role in roles" :value="role.value">{{$t(role.text)}}</option>
                  </select>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('role')">
                    <span v-for="error in errors.role">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-card uk-card-default uk-border-rounded uk-card-body uk-margin-top uk-margin-bottom">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="password">{{$t('admins.password')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('password'), 'uk-input': true, 'uk-border-rounded': true}" id="password" type="password" v-model="form_data.password" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password')">
                    <span v-for="error in errors.password">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-width-1-2@s">
                <label class="uk-form-label uk-text-muted" for="password_confirmation">{{$t('admins.password_confirmation')}} *</label>
                <div class="uk-form-controls">
                  <input :class="{'uk-form-danger': error_keys.includes('password_confirmation'), 'uk-input': true, 'uk-border-rounded': true}" id="password_confirmation" type="password" v-model="form_data.password_confirmation" required>
                  <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('password_confirmation')">
                    <span v-for="error in errors.password_confirmation">
                      {{error}}
                    </span>
                  </p>
                </div>
              </div>

              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label class="uk-form-label uk-text-muted">
                  <input class="uk-checkbox" type="checkbox" v-model="form_data.is_superadmin" true-value="1" false-value="0"> {{$t('admins.is_superadmin')}}
                </label>
              </div>
              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label class="uk-form-label uk-text-muted">
                  <input class="uk-checkbox" type="checkbox" v-model="form_data.blocked" true-value="1" false-value="0"> {{$t('admins.block')}}
                </label>
              </div>
              
            </div>
          </div>
        </li>
        <li id="permissions">
          <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
            <table class="uk-table uk-table-justify uk-table-divider">
              <thead>
                <tr>
                  <th class="uk-width-small">{{$t('permissions.page')}}</th>
                  <th>{{$t('permissions.list')}}</th>
                  <th>{{$t('permissions.add')}}</th>
                  <th>{{$t('permissions.edit')}}</th>
                  <th>{{$t('permissions.delete')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="priv in this.getPrivs()">
                  <td>
                    {{$t(priv.name)}}
                  </td>
                  <td v-for="(key, index) in priv.items">
                    <template v-if="!index.startsWith('empty')">
                      <div class="uk-width-auto">
                        <label class="uk-switch" :for="index">
                          <input type="checkbox" :id="index" v-model="content[index]">
                          <div class="uk-switch-slider uk-switch-big"></div>
                        </label>
                      </div>
                    </template>
                    <template v-else>
                      <div class="uk-width-auto">
                        <label class="uk-switch">
                          <input type="checkbox" disabled>
                          <div class="uk-switch-slider" style="cursor: not-allowed;"></div>
                        </label>
                      </div>
                    </template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li id="images">
          <images-layout  :params="params" 
                          :drop_text="$t('main.attach_file')"
                          :select_text="$t('main.select_file')"
                          :fail_text="$t('main.file_types', {'types': 'jpg, jpeg, gif, png'})"
                          :load_url="'get/admin-images/' + $route.params.id"
                          upload_url="upload/admin/image"
                          ref="tableLayout"
                          :showLimiter="true"
                          :showPager="true"
          ></images-layout>
        </li>
      </ul>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'admin-edit',
  mounted(){
    this.loadFilters()
    this.loadData()
    var vm = this
    UIkit.util.on('#mr-switcher', 'shown', function(event){
      if(event.target.id == 'content' || event.target.id == 'images'){
        vm.active_switcher = event.target.id
      }
    })
    this.params.target = 'admins/' + this.$route.params.id
    this.params.id_admin = this.$route.params.id
  },
  methods: {
    loadData(){
      this.apiGet('get/admin/' + this.$route.params.id).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        } else if(response.body.item == null){
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t("error.doesnt_exists"));
        } else {
          this.form_data = response.body.item
          this.content = response.body.item.admin_allowed
        }
      }).catch((errors) => {
        if(errors.body.message != ''){
          UIkit.modal.alert(errors.body.message);
        }else{
          UIkit.modal.alert(errors.body.exception);
        }
        
      })
    },
    saveChanges(){
      this.form_data.id_admin = this.$route.params.id
      this.form_data.admin_allowed = this.content
      var vm = this
      this.apiPost('update/admin', this.form_data).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    },
    showSearcher(){
      return this.active_switcher === 'images'
    },
    actionBulks(item){
      return [
                { title: 'main.make_main_image', type: 'make_main_image', icon: 'check', item: item },
                { title: 'main.delete', type: 'delete', icon: 'trash', item: item },
              ]
    },
    actionBulkClicked(action){
      let vm = this
      switch (action.type) {
        case 'delete':
          UIkit.modal.confirm(this.$i18n.t('warning.delete_file', {'file': action.item.filename}),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('delete/image', {
              id_image: action.item.id_image
            }).then((s) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        case 'make_main_image':
          UIkit.modal.confirm(this.$i18n.t('warning.main_image'),
            {'labels': {'ok': this.$i18n.t('main.ok'), 'cancel': this.$i18n.t('main.cancel')}}
          ).then(function () {
            vm.apiPost('update/admin-main-image', {
              id_image: action.item.id_image,
              id_admin: vm.$route.params.id
            }).then((response) => {
              vm.$refs.tableLayout.updateView()
            }).catch((e) => {
              UIkit.modal.alert(e.body.exception);
            })
          });
          break
        default:
          UIkit.modal.alert('Unknown action: ' + action.title);
          break
      }
    },
    loadFilters(){
      this.roles = []
      this.apiGet('get/admin-roles').then(response => {
        if (response.body.haserror) {
          UIkit.modal.alert(response.body.error);
        } else {
          this.roles = response.body.items

          this.roles = this.roles.filter(function(value, index, arr){
              return value.value > 0;
          });
        }
      }).catch(error => {
        console.log(error)
      })
    },
  },
  data () {
    return {
      params: { //params for imagelayout. target is upload pleace
        'target': 'images'
      },
      empty_data: false,
      searchers: [], // for action panel, imagelayout will set select items
      form_data: {},
      roles: [],
      errors: [],
      error_keys: [],
      content: [],
      load_url: '',
      active_switcher: 'content'
    }
  }
};
</script>