<template>
  <admin-component>
    <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="types.add" :searchInput="false"  :searchByAllow="false"></action-panel-layout>
    <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
      <div class="uk-grid-small" uk-grid>

        <div class="uk-width-1-2@s">
          <div class="uk-form-controls">
            <label class="uk-form-label uk-text-muted" for="type">{{$t('types.type')}} *</label>
            <select :class="{'uk-form-danger': error_keys.includes('type'), 'uk-select': true, 'uk-border-rounded': true}" id="type" v-model="form_data.type" required>
              <option selected disabled>{{$t('types.type')}}</option>
              <option v-for="type in types" :value="type">{{$t('menu.' + type)}}</option>
            </select>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('type')">
              <span v-for="error in errors.type">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="internal_name">{{$t('types.internal_name')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('internal_name'), 'uk-input': true, 'uk-border-rounded': true}" id="internal_name" type="text" v-model="form_data.internal_name" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('internal_name')">
              <span v-for="error in errors.internal_name">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="name_az">{{$t('types.name_az')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('name_az'), 'uk-input': true, 'uk-border-rounded': true}" id="name_az" type="text" v-model="form_data.name_az" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name_az')">
              <span v-for="error in errors.name_az">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="name_en">{{$t('types.name_en')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('name_en'), 'uk-input': true, 'uk-border-rounded': true}" id="name_en" type="text" v-model="form_data.name_en" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name_en')">
              <span v-for="error in errors.name_en">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="name_ru">{{$t('types.name_ru')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('name_ru'), 'uk-input': true, 'uk-border-rounded': true}" id="name_ru" type="text" v-model="form_data.name_ru" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('name_ru')">
              <span v-for="error in errors.name_ru">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-2@s">
          <label class="uk-form-label uk-text-muted" for="sort">{{$t('types.sort')}} *</label>
          <div class="uk-form-controls">
            <input :class="{'uk-form-danger': error_keys.includes('sort'), 'uk-input': true, 'uk-border-rounded': true}" id="sort" type="number" min="0" v-model="form_data.sort" required>
            <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('sort')">
              <span v-for="error in errors.sort">
                {{error}}
              </span>
            </p>
          </div>
        </div>

        <div class="uk-width-1-1@s">
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label class="uk-form-label uk-text-muted">
              <input class="uk-checkbox" type="checkbox" v-model="form_data.is_active"> {{$t('types.activate')}}
            </label>
          </div>
        </div>

      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'type-add',
  methods: {
    saveChanges(){
      let item = this.form_data
      item.is_active = item.is_active === true ? 1 : 0
      this.error_keys = []
      var vm = this
      this.apiPost('add/type', item).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.$router.push({name: 'type-edit', params: {id: response.body.id}})
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
          
        }
      })
    }
  },
  data () {
    return {
      form_data: {},
      errors: [],
      error_keys: [],
      types: ['news', 'business', 'economic', 'politic', 'society']
    }
  }
};
</script>