<template>
	<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
		<nav class="uk-navbar-container uk-margin" uk-navbar>
			<div class="uk-navbar-item uk-navbar-left">
				<h2 class="uk-heading-line"><span>{{$t(header)}}</span></h2>
			</div>
			<div class="uk-navbar-item uk-navbar-center uk-width-1-2" style="z-index: 0;">
				<select v-if="searchByAllow == true" v-model="searchByValue" class="uk-select uk-width-1-3 uk-border-rounded" @change="search">
					<option v-for="searcher in searchers" :value="searcher.value">{{$t(searcher.text)}}</option>
				</select>
        <select v-if="filterByAllow == true" v-model="filterByValue" class="uk-select uk-width-1-3 uk-border-rounded" @change="filter">
          <option v-for="filter in filters" :value="filter.value">
            <template v-if="filter.non_translate == true">
              {{filter.text}}
            </template>
            <template v-else>
              {{$t(filter.text)}}
            </template>
          </option>
        </select>
				<form class="uk-search uk-search-default uk-background-default uk-border-rounded uk-width-1-1" v-if="searchInput">
					<span uk-search-icon></span>
					<input @input="search()" v-model="searchText" class="uk-search-input uk-border-rounded" type="search" :placeholder="$t('main.search_placeholder')">
				</form>
			</div>
			<div class="uk-navbar-item uk-navbar-right">
        <template v-if="loading == true">
          <div uk-spinner></div>
        </template>
        <template v-else>
          <button class="uk-button uk-button-primary mr-bgcolor-green uk-border-rounded" v-if="greenButton == true" @click="greenButtonClick">{{$t(greenButtonText)}}</button>
          <button class="uk-button uk-button-primary mr-bgcolor-blue uk-border-rounded" v-if="blueButton == true" @click="blueButtonClick">{{$t(blueButtonText)}}</button>
          <button class="uk-button uk-button-primary mr-bgcolor-blue uk-border-rounded" v-if="toggleButton == true" :uk-toggle="'target:' + '#' + modalId">{{$t(toggleButtonText)}}</button>
        </template>
			</div>
		</nav>
	</div>
</template>

<script>


export default {
	name: 'ActionPanelLayout',
	props: {
		greenButton: false,
		greenButtonText: null,
		blueButton: false,
		blueButtonText: null,
		header: null,
		searchInput: true,
		searchers: null,
    filters: null,
		modalId: null,
		toggleButton: false,
		toggleButtonText: null,
		searchByAllow: false,
    filterByAllow: false,
		greenButtonAction: null,
		blueButtonAction: null,
    loading: false
	},
	data () {
		return {
			typeTimeout: null,
			searchText: null,
			searchByValue: null,
      filterByValue: null
		}
	},
	methods: {
		search () {
			if (this.typeTimeout) {
				clearTimeout(this.typeTimeout)
			}
			this.typeTimeout = setTimeout(() => {
        if(this.$parent.$parent.$refs.tableLayout.search){
          this.$parent.$parent.$refs.tableLayout.search(this.searchByValue, this.searchText)
        }else{
          this.$parent.$parent.$refs.tableLayout.$refs.tableLayout.search(this.searchByValue, this.searchText)
        }
				
			}, 500)
		},
    filter () {
      if (this.typeTimeout) {
        clearTimeout(this.typeTimeout)
      }
      this.typeTimeout = setTimeout(() => {
        if(this.$parent.$parent.$refs.tableLayout.filter){
          this.$parent.$parent.$refs.tableLayout.filter(this.filterByValue)
        }else{
          this.$parent.$parent.$refs.tableLayout.$refs.tableLayout.filter(this.filterByValue)
        }
        
      }, 500)
    },
		greenButtonClick(){
			this.greenButtonAction()
		},
		blueButtonClick(){
			this.blueButtonAction()
		}
	},
  watch:{
    searchByAllow: function(val){
      this.searchByAllow = val
      let vm = this
      if(this.searchByAllow){
        this.searchers.forEach(function(searcher, key){
          if(searcher.selected == true){
            vm.searchByValue = searcher.value
          }
        })
      }
    },
    filterByAllow: function(val){
      this.filterByAllow = val
      let vm = this
      if(this.filterByAllow){
        this.filters.forEach(function(filter, key){
          if(filter.selected == true){
            vm.filterByValue = filter.value
          }
        })
      }
    },
    searchers: function(val){
      this.searchers = val
    },
    filters: function(val){
      var vm = this
      this.filters = val
      if(this.filterByAllow && val.length > 0){
        val.forEach(function(filter, key){
          if(filter.selected == true){
            vm.filterByValue = filter.value
          }
        })
      }
    }
  },
	mounted(){
		let vm = this

		if(this.searchByAllow){
			this.searchers.forEach(function(searcher, key){
				if(searcher.selected == true){
					vm.searchByValue = searcher.value
				}
			})
		}
    if(this.filterByAllow){
      this.filters.forEach(function(filter, key){
        if(filter.selected == true){
          vm.filterByValue = filter.value
        }
      })
    }
	}
};
</script>