<template>
	<td class="datagrid-action-column text-xs-center">
		<span class="uk-icon-button mr-cursor-pointer" type="button" uk-icon="more-vertical"></span>
		<div uk-dropdown="pos: left-center; mode: click;">
			<ul class="uk-nav uk-dropdown-nav uk-list uk-list-divider">
				<template v-for="(item, index) in actions">
					<li class="uk-active mr-cursor-pointer mr-hover-blue" @click="clickAction(item)">
						<span><span v-if="item.icon" :uk-icon="'icon:' + item.icon" class="uk-margin-small-right uk-icon"></span>{{$t(item.title)}}</span>
					</li>
				</template>
			</ul>
		</div>
	</td>
</template>

<script>
export default {
	name: 'Action',
	props: ['actions', 'component'],
	methods: {
		clickAction (action) {
			this.component.$emit('action-clicked', action)
		}
	}
};
</script>