<template>
	<div>
		<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
		<div class="js-upload uk-placeholder uk-text-center uk-border-rounded">
			<span uk-icon="icon: cloud-upload"></span>
			<span class="uk-text-middle">{{drop_text}}</span>
			<div uk-form-custom>
				<input type="file" multiple>
				<span class="uk-link" style="color: #1e87f0;">{{select_text}}</span>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DragDropSelectLayout',
	props: ['actions', 'component', 'upload_url', 'parametrs', 'drop_text', 'select_text', 'allowed', 'fail_text', 'updater'],
	mounted(){
		var bar = document.getElementById('js-progressbar');
		var vm = this
		UIkit.upload('.js-upload', {
				url: this.upload_url,
				multiple: true,
				params: this.parametrs,
				allow: this.allowed,
				fail: this.errorOnFileSelecting,


				beforeSend: function () {
					arguments[0].headers = { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')}
				},
				beforeAll: function () {
						console.log('beforeAll', arguments);
				},
				load: function () {
						console.log('load', arguments);
				},
				error: function () {
						console.log('error', arguments);
				},
				complete: function () {
						vm.updater()
				},

				loadStart: function (e) {
						bar.removeAttribute('hidden');
						bar.max = e.total;
						bar.value = e.loaded;
				},

				progress: function (e) {
						bar.max = e.total;
						bar.value = e.loaded;
				},

				loadEnd: function (e) {
						bar.max = e.total;
						bar.value = e.loaded;
				},

				completeAll: function () {
						setTimeout(function () {
								bar.setAttribute('hidden', 'hidden');
						}, 1000);
				}

			});
	},
	methods: {
		errorOnFileSelecting() {
			UIkit.modal.alert(this.fail_text);
		}
	}
};
</script>