<template>
	<!--HEADER-->
	<header id="top-head" class="uk-position-fixed uk-width-1-1 uk-position-z-index">
		<div class="uk-container uk-container-expand uk-background-muted uk-padding-remove-left mr-bottom-dashed">
			<nav class="uk-navbar uk-dark" data-uk-navbar="mode:click">
				<div class="uk-navbar-left">
					<a class="uk-navbar-item uk-logo uk-text-primary uk-text-bold" href="#" @click="home">{{this.$parent.$parent.$parent.appname}}</a>
				</div>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li><a data-uk-icon="icon:user" :class="{ 'mr-nav-active': isCurrentPage('profile'), 'mr-color-black': true}" @click="$router.push('/profile')"></a></li>
            <li>
              <a href="#" data-uk-icon="icon: world" class="mr-color-black">{{this.$parent.$parent.$parent.locale}}</a>
              <div class="uk-navbar-dropdown" style="margin-top: -15px !important;">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-list uk-list-divider">
                  <li v-for="language in this.getLanguages()" style="cursor: pointer;" @click="setLocale(language)">{{$t('lang.' + language)}}</li>
                </ul>
              </div>
            </li>
						<li>
							<a href="#" data-uk-icon="icon: cog" class="mr-color-black"></a>
							<div class="uk-navbar-dropdown" style="margin-top: -15px !important;">
								<ul class="uk-nav uk-navbar-dropdown-nav uk-list uk-list-divider">
									<li class="mr-color-black" style="cursor: pointer;" @click="logout()"><span data-uk-icon="icon: sign-out"></span> {{$t('main.logout')}}</li>
								</ul>
							</div>
						</li>
						<li><a class="uk-navbar-toggle mr-toggler" data-uk-toggle data-uk-navbar-toggle-icon href="#left-col" uk-toggle="animation: uk-animation-fade; queued: true; duration: 300"></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderLayout',
	methods: {
		logout: function (id) {
      this.apiPost('admin/logout',[]).then((response) => {
        location.reload();
      })
		},
		isCurrentPage (page) {
			return this.$route.name == page
		},
    setLocale (locale) {
      this.$i18n.locale = locale
      this.apiPost('set/locale',{'locale': locale}).then((response) => {
        location.reload();
      })
    },
    home(){
      this.$router.push({name: 'dashboard'})
    }
	}
};
</script>