<template>
	<div>
		<dragdrop-select-layout 
														:upload_url="upload_url" 
														:parametrs="params"
														:drop_text="drop_text"
														:select_text="select_text"
														allowed='*.(jpg|jpeg|gif|png)'
														:fail_text='fail_text'
														:updater=updateView
		></dragdrop-select-layout>
		<table-layout 
				:headers="tableHeaders"
				sorter="filename" 
        ref="tableLayout" 
				:resource_url="load_url"
				searcher="filename"
        :showLimiter="showLimiter"
        :showPager="showPager"
		>
			<template slot="table-items" slot-scope="props">
				<td>
					<img :data-src="props.item.t_path + props.item.t_filename" :width="props.item.t_width" :height="props.item.t_height" uk-img>
				</td>
				<td>
					<p>{{props.item.filename}}<br>
						<span class="uk-text-meta">path: {{props.item.path}}</span><br>
						<span class="uk-text-meta">
							size: {{props.item.width}} x {{props.item.height}}
						</span><br>
            <span class="uk-label" v-if="props.item.is_main && props.item.is_main == 1">{{$t('main.is_main_image')}}</span>
					</p>
				</td>
				<td>{{props.item.created_at}}</td>
				<action-bulk-layout :component="getComponent()" :actions="actionBulks(props.item)"></action-bulk-layout>
			</template>
		</table-layout>
	</div>
</template>

<script>
export default {
	name: 'ImagesLayout',
	props: {
    upload_url: null, 
    load_url: null, 
    drop_text: null, 
    select_text: null, 
    fail_text: null, 
    params: null,
    showLimiter: true,
    showPager: true,
  },
	mounted(){
		this.$parent.$parent.searchers = this.searchers
		this.$on('action-clicked', (action) => {
			this.$parent.$parent.actionBulkClicked(action)
		})
		this.$on('update-view', (data) => {
			this.$refs.tableLayout.$forceUpdate()
		})
	},
	methods: {
		getComponent () {
			return this
		},
		actionBulks(item){
			return this.$parent.$parent.actionBulks(item)
		},
		updateView(){
			this.$refs.tableLayout.loadData()
		}

	},
	data () {
		return {
			tableHeaders: [
				{ text: 'main.image', sortable: false, index: 'image_thumbnail' },
				{ text: 'main.name', sortable: true, index: 'filename' },
				{ text: 'main.created', sortable: true, index: 'created_at' },
				{ text: 'main.actions', sortable: false, index: null}
			],
			searchers: [
				{ text: 'main.name', value: 'filename', selected: true},
				{ text: 'main.path', value: 'path', selected: false},
				{ text: 'main.width', value: 'width', selected: false},
				{ text: 'main.height', value: 'height', selected: false},
				{ text: 'main.created', value: 'created_at', selected: false},
			]
		}
	}
};
</script>