<template>
	<div>
		<div class="uk-card uk-card-default uk-width-1-1@m uk-margin-medium-top uk-border-rounded uk-padding-small">
			<table class="uk-table uk-table-striped uk-table-middle uk-table-hover">
				<thead>
					<tr>
						<th v-for="header in headers" @click="sortHeader(header)" class="mr-cursor-pointer">
							{{$t(header.text)}}
							<span v-if="currentOrderBy == header.index && currentOrderDir == 'asc'" uk-icon="icon: chevron-up"></span>
							<span v-else-if="currentOrderBy == header.index" uk-icon="icon: chevron-down"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="items && items.length > 0">
						<tr v-for="(i,index) in items" :key="index">
							<slot :item="i" name="table-items"></slot>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<div class="uk-card  uk-card-default uk-width-1-1@m 
					uk-margin-medium-top  uk-border-rounded
					uk-padding-small uk-margin-medium-bottom uk-text-bold" v-if="showPager || showLimiter">
			<nav class="uk-background-default" uk-navbar>
				<div class="uk-navbar-left">
					<ul class="uk-pagination uk-margin-small-top" uk-margin v-if="showPager && totalPages > 1">
						<li @click="changePage(currentPage, 1, 0)">
							<span class="mr-cursor-pointer"><span uk-pagination-previous></span></span>
						</li>
						<template v-for="n in totalPages">
							<li v-if="n == 1" @click="changePage(n, 0, 0)" :class="{ 'uk-active': n == currentPage }">
								<span class="mr-cursor-pointer">1</span>
							</li>
							<li v-else-if="getPointers(n)" :class="{ 'uk-active': n == currentPage }">
								<span class="mr-cursor-pointer" @click="changePage(n, 0, 0)">{{n}}</span>
							</li>
							<li v-else-if="n == totalPages" @click="changePage(totalPages, 0, 0)" :class="{ 'uk-active': n == currentPage }">
								<span class="mr-cursor-pointer">{{totalPages}}</span>
							</li>
							<li v-else-if="n == pointerFirst || n == pointerLast" class="uk-disabled"><span>...</span></li>
						</template>
						<li @click="changePage(currentPage, 0, 1)">
							<span class="mr-cursor-pointer"><span uk-pagination-next></span></span>
						</li>
					</ul>
				</div>
				<div class="uk-navbar-right">
					<div uk-form-custom="target: > * > span:first-child" v-if="showLimiter">
						<select v-model="currentLimit" @change="limiterCall()">
							<option disabled>{{$t('main.limiter')}}</option>
							<option value="1">1</option>
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
						<button class="uk-button uk-button-default" type="button" tabindex="-1">
							<span></span>
							<span uk-icon="icon: chevron-down"></span>
						</button>
					</div>
				</div>
			</nav>
		</div>
	</div>
</template>

<script>
export default {
	props: {
    headers: null, 
    showLimiter: false, 
    showPager: false, 
    resource_url: null, 
    checkbox: null, 
    sorter: null, 
    sorter_dir: null, 
    searcher: null,
    filterDefault: null
  },
	mounted () {
		if(this.sorter != null){
			this.currentOrderBy = this.sorter
		}
		if(this.sorter_dir != null){
			this.currentOrderDir = this.sorter_dir
		}
		if(this.searcher != null){
			this.searchBy = this.searcher
		}
    if(this.filterDefault != null){
      this.filterBy = this.filterDefault
    }
			
		this.loadData()
		this.preparePointers()
	},
	methods: {
		loadData (){
      let params = {
        page: this.currentPage,
        limit: this.currentLimit,
        search: this.currentSearchQuery,
        orderBy: this.currentOrderBy,
        orderDir: this.currentOrderDir,
        searchBy: this.searchBy,
        filterBy: this.filterBy
      }
      var withparams = (this.showLimiter || this.showPager) ? params : []
			this.apiGet(this.resource_url, withparams).then(response => {
				if (response.body.length == 0) {
					UIkit.modal.alert('empty_data');
				} else {
					this.items = response.body.items
          if(this.showLimiter || this.showPager){
            this.currentPage = response.body.pager.currentPage
            this.currentLimit = response.body.pager.currentLimit
            this.totalPages = response.body.pager.totalPages
            this.totalItems = response.body.pager.totalItems
          }
					this.loading = false
				}
			}).catch(errors => {
				UIkit.modal.alert(errors.body.message);
			})
		},
		search(searchBy, text){
			this.currentSearchQuery = text
			this.searchBy = searchBy
			this.currentPage = 1
			this.loadData()
		},
    filter(filterBy){
      this.filterBy = filterBy
      this.currentPage = 1
      this.loadData()
    },
		limiterCall(){
			this.currentPage = 1
			this.loadData()
		},
		getPointers(index){
			if(this.totalPages > 5){
				this.preparePointers()
				if((index > this.pointerFirst) && (index < this.pointerLast)){
					return true;
				}
				return false
			}else{
				this.preparePointers()
			}
			return true;
		},
		preparePointers(){
			if(this.currentPage > 5){
				this.pointerFirst = this.currentPage - 4
			}else{
				this.pointerFirst = 1
			}
			if(this.currentPage < this.totalPages){
				this.pointerLast = this.currentPage + 4
			}else{
				this.pointerLast = this.currentPage
			}
		},
		changePage(index, prev, next){
			if(prev == 0 && next == 0 ){
				if(this.currentPage != index){
					this.currentPage = index
					this.loadData()
				}
			}else{
				if(prev == 1){
					if(this.currentPage > 1){
						this.currentPage = this.currentPage - 1
						this.loadData()
					}
				}else{
					if(this.currentPage < this.totalPages){
						this.currentPage = this.currentPage + 1
						this.loadData()
					}
				}
			}
		},
		sortHeader(sorter){
			if(sorter.sortable == true){
				if(this.currentOrderBy == sorter.index){
					if(this.currentOrderDir == 'asc'){
						this.currentOrderDir = 'desc'
					}else{
						this.currentOrderDir = 'asc'
					}
				}else{
					this.currentOrderDir = 'asc'
				}
				this.currentOrderBy = sorter.index
				this.loadData()
			}
		}
	},
	data () {
		return {
			items: [],
			currentSearchQuery: '',
			currentPage: 1,
			currentLimit: 10,
			currentOrderBy: 'created_at',
			currentOrderDir: 'asc',
			totalPages: 1,
			totalItems: 0,
			pointerFirst: 0,
			pointerLast: 0,
			searchBy: 'name',
      filterBy: 0
		}
	}
};
</script>