<template>
  <quill-editor ref="myQuillEditor"
                :options="getOptions()"
                :value="content"
                @change="onEditorChange($event)"
                :class="{'quill-editor-small': small_editor}">
  </quill-editor>
</template>

<script>
import Quill from 'quill'
import { quillEditor } from 'vue-quill-editor' 
import ImageResize from '@taoqf/quill-image-resize-module'
Quill.register('modules/imageResize', ImageResize)

var BackgroundStyle = Quill.import('attributors/style/background');
var ColorStyle = Quill.import('attributors/style/color');
var SizeStyle = Quill.import('attributors/style/size');
var FontStyle = Quill.import('attributors/style/font');
var AlignStyle = Quill.import('attributors/style/align');
var DirectionStyle = Quill.import('attributors/style/direction');
Quill.register(BackgroundStyle, true);
Quill.register(ColorStyle, true);
Quill.register(SizeStyle, true);
Quill.register(FontStyle, true);
Quill.register(AlignStyle, true);
Quill.register(DirectionStyle, true);

export default {
  name: 'TextEditorLayout',
  data() {
    return {
      editorOption: { 
        placeholder: '', 
        modules: { 
          clipboard: { matchVisual: false }, 
          imageResize: {
            displayStyles: {
              backgroundColor: 'black',
              border: 'none',
              color: 'white'
            },
            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
          },
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean'],
            ['link', 'image', 'video']
          ] 
        } 
      },
      editorOptionSmall: { 
        placeholder: '', 
        modules: { 
          clipboard: { matchVisual: false }, 
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }]
          ] 
        } 
      }
    }
  },
  props: {
    content: null,
    small_editor: false
  }, 
  components: {
    quillEditor
  },
  methods: {
    onEditorChange({ quill, html, text }) {
      this.$emit('input', html)
    },
    getOptions(){
      if(this.small_editor){
        return this.editorOptionSmall
      }else{
        return this.editorOption
      }
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill
    }
  }

};
</script>