<template>
  <admin-component>
    <div v-if="!empty_data">
      <action-panel-layout :greenButton="true" greenButtonText="main.save" :greenButtonAction="saveChanges" header="settings.edit"></action-panel-layout>
      <div class="uk-card uk-card-default uk-border-rounded uk-card-body">
        <div class="uk-grid-small" uk-grid>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label uk-text-muted" for="about_us">{{$t('settings.about_us')}} *</label>
            <div class="uk-form-controls">
              <texteditor-layout :class="{'mr-quill-danger': error_keys.includes('about_us')}" v-model="form_data.content.about_us" :content="form_data.content.about_us" id="about_us"></texteditor-layout>
              <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('about_us')">
                <span v-for="error in errors.about_us">
                  {{error}}
                </span>
              </p>
            </div>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label uk-text-muted" for="footer">{{$t('settings.footer')}} *</label>
            <div class="uk-form-controls">
              <texteditor-layout :class="{'mr-quill-danger': error_keys.includes('footer')}" v-model="form_data.content.footer" :content="form_data.content.footer" id="footer"></texteditor-layout>
              <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('footer')">
                <span v-for="error in errors.footer">
                  {{error}}
                </span>
              </p>
            </div>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label uk-text-muted" for="contact">{{$t('settings.contact')}} *</label>
            <div class="uk-form-controls">
              <texteditor-layout :class="{'mr-quill-danger': error_keys.includes('contact')}" v-model="form_data.content.contact" :content="form_data.content.contact" id="contact" :small_editor="true"></texteditor-layout>
              <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('contact')">
                <span v-for="error in errors.contact">
                  {{error}}
                </span>
              </p>
            </div>
          </div>

          <div class="uk-width-1-1@s">
            <label class="uk-form-label uk-text-muted" for="broadcast">{{$t('settings.broadcast')}} *</label>
            <div class="uk-form-controls">
              <textarea :class="{'uk-form-danger': error_keys.includes('broadcast'), 'uk-textarea': true, 'uk-border-rounded': true}" id="broadcast" rows="5" v-model="form_data.content.broadcast" required></textarea>
              <p class="uk-form-danger mr-margin-top-bottom-5" v-if="error_keys.includes('broadcast')">
                <span v-for="error in errors.broadcast">
                  {{error}}
                </span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </admin-component>
</template>

<script>
export default {
  name: 'settings-edit',
  mounted(){
    this.loadData()
    var vm = this
  },
  methods: {
    loadData(){
      this.apiGet('get/settings/' + this.$route.params.id).then((response) => {
        if (response.body.haserror) {
          this.empty_data = true
          UIkit.modal.alert(this.$i18n.t(response.body.message));
        } else {
          this.form_data = response.body
          this.empty_data = false
        }
      }).catch((errors) => {
        console.log(errors)
      })
    },
    saveChanges(){
      var vm = this
      console.log(this.form_data);
      this.items.id_settings = this.$route.params.id
      this.items.content = this.form_data.content
      
      this.apiPost('update/settings', this.items).then((response) => {
        if(response.body.haserror){
          vm.error_keys = response.body.keys
          vm.errors = response.body.errors
          UIkit.notification(this.$i18n.t(response.body.message), {status:'danger', pos: 'top-right'});
        }else{
          vm.error_keys = []
          vm.errors = []
          UIkit.notification(this.$i18n.t(response.body.success), {status:'success', pos: 'top-right'});
        }
      })
    }
  },
  data () {
    return {
      form_data: {},
      items: {},
      empty_data: true,
      errors: [],
      error_keys: []
    }
  }
};
</script>